[2016-06-05 09:13] tchncs opened #3 ".intro-text is a bit drifted to the left"
![2016-06-05-111128_1920x1200_scrot](https://cloud.githubusercontent.com/assets/10698140/15804590/7a2c29dc-2b0e-11e6-92a8-2e4a2fd4c648.png)

[2016-06-05 10:02] mar1u5 commented on #3
Thank you for reporting. I've looked at it, and i can reproduce this with Safari aswel 😉
Can you look into the code and create a pull request? @tchncs

[2016-06-05 10:04] mar1u5 commented on #3
cc @nextcloud/designers

[2016-06-05 10:10] tchncs commented on #3
@mar1u5 i agree, this is not a 'big' thing to fix.
I am very busy this hours so i cannot do this but i wanted to report this anyway because i think this homepage has a very high priority, also to advertise nextcloud.
So i just reported because it would need several hours until i am able to look at this.
Hope you understand ;)

[2016-06-05 10:14] mar1u5 commented on #3
No problem 😉I just wanted to say is that you are always welcome to report bugs and contribute 😅 You are welcome at our IRC `#nextcloud` and in our forum https://help.nextcloud.com.

[2016-06-08 12:02] ldonis opened #5 "Syntax error on footer.php"
There is a little error on the documentation menu, the end tag for the html list is not commented.
![error](https://cloud.githubusercontent.com/assets/2887823/15893661/655413a8-2d3e-11e6-8e7e-356b95a78f60.png)
[templates/footer.php](https://github.com/nextcloud/nextcloud.com/blob/master/templates/footer.php)

[2016-06-08 12:23] jancborchardt commented on #5
@ldonis good catch! Do you just directly want to fix it and open a pull request? That would be awesome! :)

[2016-06-08 12:47] ldonis commented on #5
I just sent the pull request :D

[2016-06-08 12:55] jancborchardt commented on #5
Thanks a lot! :) Closing this here then cause the pull request is merged.

[2016-06-08 12:55] #5 closed

[2016-06-09 08:14] mikebabb commented on #3
Closing this issue as [pull request 4](https://github.com/nextcloud/nextcloud.com/pull/4) resolved it. Thanks for reporting, @tchncs!

[2016-06-09 08:14] #3 closed

[2016-06-09 13:56] jancborchardt commented on #3
:rocket: you folks rock!

[2016-06-09 18:53] jospoortvliet opened #9 "Make the front page prettier"
So Jan had a great idea... Christoph Wurst did some nice design work using a photo Frank made and we have this new look added in this pr: https://github.com/nextcloud/server/pull/28

Nice Nextcloud blue right? Indeed, we can use this for our front page. This isn't terribly hard, an image to replace and a bit of CSS change on the button perhaps to make it a white outline. @jancborchardt also sugges

[2016-06-10 08:05] #9 closed

[2016-06-10 12:45] vincchan opened #13 "Q&A hangout sticker overlapping main title and content"
During review of #12 I noticed that the hangout sticker overlaps the main slogan at 964px window width. Content is also covered at other window widths. Is this intended behaviour? @jancborchardt

### at 700-767px
<img width="705" alt="screen shot 2016-06-10 at 14 26 23" src="https://cloud.githubusercontent.com/assets/868272/15964591/9a277c00-2f19-11e6-8a51-5b24f7ee09fb.png">
---
### at 767-861px
<

[2016-06-10 12:51] jancborchardt commented on #13
@vincchan it’s not indended. :) Do you want to jump in and fix it?

[2016-06-10 12:54] vincchan commented on #13
@jancborchardt alright I'll have a look at it

[2016-06-10 15:52] jospoortvliet commented on #13
fascinating, I absolutely can't reproduce ;-)

What browser is that?

[2016-06-10 16:03] mar1u5 opened #15 "Top-Menu should stick at the right side"
With Safari on my iPad Pro 9.7:

![image](https://cloud.githubusercontent.com/assets/19711361/15970561/7456ba9c-2f35-11e6-9aeb-f64d029a30fd.png)

[2016-06-10 16:32] jancborchardt commented on #15
Yeah, good point. That also happens on smaller sizes on desktop. Tagging as a good starter issue, anyone up for checking that out @nextcloud/designers? :)

[2016-06-10 21:16] vincchan commented on #13
@jospoortvliet media query was targeting 1.5 pixel ratio

[2016-06-11 10:34] mar1u5 opened #18 "Team / Contributors"
I think we should create an team/contributors-page where we show profile pictures and maybe some information about the guys at @Nextcloud 😉 (maybe sorted by teams)

cc @karlitschek @jospoortvliet

[2016-06-11 14:17] karlitschek commented on #18
Great idea. But I think this is something where contribook could be used for. @jospoortvliet

[2016-06-12 15:07] #13 closed

[2016-06-12 15:10] #15 closed

[2016-06-12 15:11] jospoortvliet commented on #18
There's some work for that prepared already, will absolutely move on that but - later. Backlog ;-)

[2016-06-12 17:18] thefirstofthe300 opened #20 "Site but pick"
On my Nexus 5X.

![screenshot](https://owncloud.danielseymour.info/s/Gz3OMgEr1oAdQOf/download)

[2016-06-12 17:19] thefirstofthe300 commented on #20
Sorry about it being so big. I.submitted this from my phone. Give me a couple of hours and I will shrink it.

[2016-06-12 18:06] mikebabb commented on #20
I have a fix for this in [PR 19](https://github.com/nextcloud/nextcloud.com/pull/19). Giving the hangouts graphic a static size at various media queries instead of a percentage stops its height being recalculated when the mobile menu is open, which is what is causing the graphic to "grow" and obscure content in some circumstances.

[2016-06-12 20:59] #20 closed

[2016-06-13 17:52] ldonis commented on #18
For the contributor section we can use the github api to get the members information (user, picture, commits, etc. etc.) also we can sort the list according to the commits to the project.
If you have more commits, then you will be at the top of the contributor list in the website.

[2016-06-13 20:38] blizzz opened #24 "Missing Security Policy Page"
In https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md there is a link to "security policy" ending up in a 404: https://nextcloud.com/security/

Just to keep this tracked.

@LukasReschke

[2016-06-14 11:28] jospoortvliet commented on #18
We shouldn't order by anything other than alphabet or so, simply because there isn't a single metric which shows how important somebody is ;-)

[2016-06-14 11:53] ldonis commented on #18
@jancborchardt you're right,
@jospoortvliet good idea!

[2016-06-14 12:57] tflidd opened #26 "Broken link to announcement mailinglist"
On https://nextcloud.com/install/#instructions-server
in the security notes, there is a link to the announcement mailinglist.

[2016-06-14 13:30] LukasReschke commented on #26
@jospoortvliet

[2016-06-14 14:16] jospoortvliet commented on #26
fixed, deployed ;-)

[2016-06-14 14:16] #26 closed

[2016-06-15 08:11] jancborchardt commented on #18
That’s why lots of projects simply randomize the contributor order on every page load, and that is the reasonable thing to do. Alphabetic sorting also gives order, and even though it’s arbitrary, outside people don’t know that and assume it’s sorted by importance.

[2016-06-15 20:16] ldonis commented on #18
@jancborchardt it is clear now :( , thanks a lot for the explanation!!!!
so, let's start to work, I'm not a good designer (I can see only two colors, gray and dark-gray) but, I can code any psd or any design that you can provide me.
also, it could be a completely new webpage ?? (http://nextcloud.com/contributors for example)

[2016-06-16 08:54] jancborchardt commented on #18
@ldonis awesome, exactly the people we need! :)

I think the team page of [Ghost](https://ghost.org/team/) is one of the best around. Instead of the join date, below the name I would have 3 icons there maybe: website, Github, Twitter.
What do you think @jospoortvliet @karlitschek?

[2016-06-16 14:26] jospoortvliet commented on #18
If you randomize on every page load, each time people will think it is ordered in importance or something (they don't reload and see if things change). If you do it alphabetically it is obvious right away that it is ordered on alphabet and done.

[2016-06-16 14:30] jospoortvliet commented on #18
Now with regards to actually doing this. ownCloud just published and tweeted around a team page which includes their employees and people at external contractors, I guess to try and look stable and big to customers and such.

Now imagine what happens if we would also put up a page with faces, especially with *more* people, because we put community there rather than management and employees, sorted

[2016-06-16 14:33] jospoortvliet commented on #18
however, that doesn't mean we can't work on it, @ldonis it'd be cool to prepare this! @LukasReschke proposed to run a script to add info from people in our github project to contribook and then we can show them quite easily.

If you look at page-contact.php, you see the commented out contribook part. That is what would do this - show people from there. Making that look nice, like the ghost page, w

[2016-06-17 10:32] jospoortvliet commented on #24
fixed, security stuff is live.

[2016-06-17 10:32] #24 closed

[2016-06-19 19:48] tobiasKaminsky opened #38 "Android APK on Site"
As requested here:
https://help.nextcloud.com/t/about-downloading-apk-file-of-android-app-from-site/668
We can provide an APK file.
Where and how should we do this?

[2016-06-19 20:14] mar1u5 commented on #38
I will do this tomorrow :wink:

[2016-06-20 07:30] LukasReschke commented on #38
I'm not really a big fan of this, is there any advantage here of not doing this via f-droid which also offers the APK?

Directly using the APK leads to the problem that people will never update, resulting in potential security issues as well as bugs etc…

[2016-06-20 09:49] vincchan commented on #38
@LukasReschke As far as I know, installing from apk does not prevent the app being updated from the Play Store. Even the update "notification" will be there. So in this case it wouldn't matter if the user installs it from f-droid/apkmirror.

Don't quote me on that, but I think it uses the package name to link it to the Play Store entry.

[2016-06-20 09:51] vincchan commented on #38
@LukasReschke You can test this by downloading for example an outdated version of an app on [APKMirror](http://www.apkmirror.com/) . Play Store will inevitably offer you an update for the app.

[2016-06-20 15:16] tobiasKaminsky commented on #38
@LukasReschke see this discussion: https://help.nextcloud.com/t/about-downloading-apk-file-of-android-app-from-site/668

[2016-06-21 01:01] sGerli opened #39 "Right Click Custom Context"
<Deleted wrong repo>

[2016-06-21 01:02] #39 closed

[2016-06-21 01:02] sGerli commented on #39
Issue moved to [nextcloud/server #182](https://github.com/nextcloud/server/issues/182) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-21 15:18] jancborchardt commented on #18
Another great example of a team page next to Ghost is Ginetta: http://ginetta.net/index.html#members

[2016-06-22 03:40] ldonis commented on #18
@jancborchardt you're good for inspiration, I am going to start to write some code.
I am excited to work with you guys!

[2016-06-28 14:40] jospoortvliet commented on #38
So, as I said in that conversation, too, I'm good with this but we have to find a process to handle website updates and uploading the APK itself somewhere.

[2016-06-28 14:41] jospoortvliet commented on #18
That page is, indeed, awesome. Look forward to your first PR, @ldonis ;-)

[2016-06-28 14:51] mar1u5 commented on #38
APKs (Beta at least) are stored on Nextcloud's Download Server :wink:

[2016-06-28 18:49] tobiasKaminsky commented on #38
Huh? They are at https://github.com/nextcloud/android/tree/beta/apks and beta is providing an update check for them. @LukasReschke maybe this is something you want to have too for the APKs that are not in play-store nor in f-droid?

[2016-06-30 16:12] mar1u5 opened #46 "Switch earlier to the responsive "sandwich" menu"
With Safari on my iPad Pro 9.7, the menu is in a wrong position, if i take the iPad horicontal. I think we should go for the "sandwich" menu here :wink:

![image](https://cloud.githubusercontent.com/assets/19711361/16495521/2b11644a-3eee-11e6-8788-ac268f5e0f39.png)

@nextcloud/designers

[2016-07-01 11:35] #38 closed

[2016-07-01 17:35] jospoortvliet opened #50 "make provider page show global providers for all countries"
So the providers page offers a nice filter where you can pick providers who service your country. But quite a few aim to service globally (this is the Internet, after all) and thus we have a 'all' country flag (I stole the UN flag for that).

This works as an option (which is silly) but worse, if you pick 'de' or 'us' you don't see the global providers. And you should! I just have no clue how to m

[2016-07-01 17:35] jospoortvliet commented on #46
probably a tiny sizing issue but - no idea how to fix it without being able to use 'inspect' on an ipad :-1:

[2016-07-01 18:43] mikebabb commented on #46
Not on my computer at the moment so I can't check the site's code, but it should be easily fixable by changing the cutoff point where the mobile menu is no longer used. iPad portrait tends to be 768px I think? If no one else gets to it first, I can look in to it over the weekend.

[2016-07-01 19:08] enoch85 opened #52 "Link the VM as an option to download"
As I'm sure there are many out there that started just like me, regular Windows user with no experiance in Linux at all - I think it would be a good idea to link [the VM](https://github.com/nextcloud/vm) on the download page. I also think this would involve more people to work on the VM as a community rather than I do it myself (with help from a _few_ other contributors)

Easy to install, can be r

[2016-07-01 20:59] jospoortvliet commented on #46
@mikebabb if you have a device to test that probably helps, I don't :cry:

[2016-07-01 21:02] jospoortvliet opened #53 "change the 'subscribe to the newsletter' buttons into a direct subscribe field"
http://docs.phplist.com/CustomSubscribeForm.html should get it going.

Help welcome!

[2016-07-02 09:02] MariusBluem opened #55 "Fix lower case page titles"
It should be `About - Nextcloud | Nextcloud` (https://nextcloud.com/about) but at some pages, it is more like: `support | Nextcloud` (https://nextcloud.com/support)

cc @jospoortvliet

[2016-07-04 08:52] mikebabb commented on #46
@jospoortvliet @williambargent It even attempts a bit of touch emulation which can come in handy for testing touch device only enhancements. How effective it is I don't know, but for troubleshooting layout bugs like this one dev tools gets the job done

![screenshot from 2016-07-04 09 49 42](https://cloud.githubusercontent.com/assets/1648598/16555503/e36823f4-41cc-11e6-9ac3-cd153dd6fb98.png)

[2016-07-04 08:58] williambargent commented on #46
@mikebabb  I have been using it form a year or two and works perfectly. If I can test it on a physical device I usually do after.

[2016-07-06 11:04] hostingnuggets opened #62 "add changelog to website"
analog to https://owncloud.org/changelog/

as mentioned in https://github.com/nextcloud/server/issues/321

[2016-07-06 14:08] jospoortvliet commented on #18
So I'm thinking we should move on this, it's been two weeks. @ldonis did you find time for this? Then I'll talk to @LukasReschke about syncing the data from github to our database... Pages like https://nextcloud.com/user/?user=FrankKarlitschek work and will then have all ppl in our project.

[2016-07-09 13:05] mar1u5 commented on #62
We would need to refactor this page, by removing all old stuff (7, 8, 8.1, 8.2 and maybe 9). After that, we need to add 9.0.50 as initial release, 9.0.51 as 2nd and so on 😉

https://github.com/nextcloud/nextcloud.com/blob/master/page-changelog.php

Does anybody wants to take over here? 😁

[2016-07-18 08:00] #46 closed

[2016-07-22 09:57] jospoortvliet opened #82 "feed doesn't validate"
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnextcloud.com%2Fblogfeed

I honestly have no idea how to fix it or how important it is to do so.

[2016-07-22 11:40] jospoortvliet opened #84 "Make provider list random"
The providers are now shown in order they were added. This isn't really fair for those who've been supporting our project for years but just took longer to migrate to Nextcloud. Ideally, we order somehow on 'quality' but that is super hard to determine objectively...

So, as a measure until we have a better solution, how about ordering them randomly? It probably won't be hard to implement for some

[2016-07-22 14:27] schiessle opened #85 "RSS Feed broken"
Hi,
I was told that the RSS feed (https://nextcloud.com/feed/ ) is broken. I just tested it and indeed, I get a "invalid XML" error when I try to add the feed to my feed reader.

cc @LukasReschke @jospoortvliet

[2016-07-23 10:05] ele0s opened #86 "Add instructions to install collabora online with others web servers softwares"
Hi,

it would be nice if we could have access to others web servers configuration example (such as nginx, hiawatha, etc..) on this post : https://nextcloud.com/collaboraonline/

thanks

[2016-07-24 10:00] mar1u5 commented on #86
Nah ... Maybe something more advanced for our documentation (https://github.com/nextcloud/documentation)

[2016-07-24 10:00] #86 closed

[2016-07-26 14:18] jancborchardt commented on #84
cc @Gomez @pierreozoux @owndrive since they are providers.

And just for the record if we decide to sort them somehow, a list of potential criteria we discussed about before is at https://github.com/owncloud/owncloud.org/pull/525#issuecomment-94007215
And another one at https://github.com/nextcloud/android/issues/53#issuecomment-229081490

[2016-07-26 14:59] Gomez commented on #84
Thanks for putting all infos in this ticket.

As long as we don't have a sorting in place, random is better.

[2016-07-27 05:30] ungesundes-halbwissen opened #90 "Desktop Client Changelog link gives an 404"
the changelog link for the desktop client https://nextcloud.com/changelog/desktop needs to have content

Edit: it links from the "Install Desktop Clients" tab on https://nextcloud.com/install/#install-clients

[2016-07-27 15:31] victorheld opened #92 "Link to Desktop client documentation broken"
[The link](http://i.imgur.com/uT0xvTB.png) to the documentation on [the download page ](https://nextcloud.com/install/#install-clients)of the desktop client gives a 'File not found' error upon clicking it.

[2016-07-30 11:31] mar1u5 commented on #92
Fix is in #93 ... Please review 💪

[2016-07-30 11:35] mar1u5 commented on #90
Fix is in 😉 #93

[2016-08-01 15:39] mar1u5 opened #95 "Add the web-installer"
https://github.com/nextcloud/web-installer

as discussed @jospoortvliet

[2016-08-06 20:22] #90 closed

[2016-08-06 20:22] #92 closed

[2016-08-08 09:41] LukasReschke commented on #85
Did some changes that at least SimplePie accepts this now: http://simplepie.org/demo/?feed=https://nextcloud.com/feed/

Can you recheck?

[2016-08-08 09:55] #84 closed

[2016-08-08 09:56] LukasReschke commented on #84
Done and live at https://nextcloud.com/providers/

[2016-08-08 10:09] LukasReschke commented on #50
I'd appreciate if we first have a definition of what "world wide" means. Because basically I suspect that if we go that route everybody will just claim they have world wide services. In which case this is kinda silly ;-)

With a country I can at least assume that they have a direct affiliation to that somehow.

[2016-08-08 18:44] thelinuxfr opened #99 "More options and more clients do not work on the download page"
Hi,

The popovers "more options" and "more clients" do not work on the download page (https://nextcloud.com/install/).

Tested on Firefox and Safari

Thx

[2016-08-08 18:49] mar1u5 commented on #99
I can reproduce this. This has worked in the past :scream:

cc @jospoortvliet

[2016-08-08 20:06] mar1u5 commented on #99
"More Options" is also not clickable :scream: ... I think the install_instructions are not live :grin:

[2016-08-08 20:21] thelinuxfr commented on #55
Hi, other relevant pages :

- https://nextcloud.com/enterprise/
- https://nextcloud.com/contributors/
- https://nextcloud.com/jobs/
- https://nextcloud.com/privacy/
- https://nextcloud.com/press/

[2016-08-08 20:25] thelinuxfr opened #100 "In the footer, the link "company" returns a page not found"
In the footer, the link "company" returns a page not found :

Company > https://nextcloud.com/team/ > Page not found

[2016-08-08 22:27] mar1u5 commented on #100
Should be live verry soon :grin: THX for your report :facepunch:

@jospoortvliet

[2016-08-09 07:39] jospoortvliet commented on #99
problem is in
https://github.com/nextcloud/nextcloud.com/commit/dbe798eaab525663326cd304290473900da7041e

trying to fix now..

[2016-08-09 08:14] jospoortvliet commented on #99
So I tried to include the install_instructions https://github.com/nextcloud/nextcloud.com/commit/dd9d05491cbea72fa3bf14db51f8469a884f271c which kind of worked once, locally, but then broke again (?!?! wtf PHP!) and then I looked at the PHP output which told me:

[code]

So the fix turned out to be: https://github.com/nextcloud/nextcloud.com/commit/4437c5d51e015b89a1189f6b2587ed37572c3893

...

all

[2016-08-09 08:16] #99 closed

[2016-08-09 08:49] jospoortvliet commented on #95
soon to be fixed in https://github.com/nextcloud/nextcloud.com/pull/101 ;-)

[2016-08-09 08:49] jospoortvliet commented on #100
let me disable that until we have the page finished!

[2016-08-09 08:51] jospoortvliet commented on #100
https://github.com/nextcloud/nextcloud.com/commit/334c819713a5f6189dfb8c7ecffcde45745bc716

[2016-08-09 08:51] #100 closed

[2016-08-09 08:53] jospoortvliet commented on #55
Thanks @mar1u5 and @thelinuxfr I've fixed all those you found.

[2016-08-09 08:53] mar1u5 commented on #95
Closed in #101 😉

[2016-08-09 08:53] #95 closed

[2016-08-09 13:54] mar1u5 commented on #18
https://nextcloud.com/contributors/

[2016-08-09 13:54] #18 closed

[2016-08-18 16:15] marinofaggiana opened #108 "Link to Appstore"
Hi in page : https://nextcloud.com/install/?utm_content=bufferd39f6&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer#1

the Image [Availabe on the App Store] link to "https://itunes.apple.com/app/id1125420102", It would be more correct "https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8".

look https://linkmaker.itunes.apple.com/en-us/details/1125420102?q=nextcloud&country=us&

[2016-08-22 21:16] Aybee2k opened #113 "New Logo Provider"
Can you change the logo? Something is there with the logo does not run correctly, Color not correct

![logokle](https://cloud.githubusercontent.com/assets/8160220/17871999/6dd743c2-68be-11e6-8e38-44d58e2ceab2.png)

[2016-08-23 07:59] davepeach1 opened #114 "Ability to Click a 'Phone this number' directly next to contacts"
When viewing my contacts in the browser, specifically on mobile, it would be great to be able to click a link next to number to phone that number. At the moment I copy a paste into into phone app.

Not a problem - more of a nice to have.

[2016-08-23 10:59] jospoortvliet commented on #108
Fixed: https://github.com/nextcloud/nextcloud.com/commit/322cdde83efb7842c25dbf11116ff44ff8e28484

[2016-08-23 10:59] #108 closed

[2016-08-23 11:00] jospoortvliet commented on #113
https://github.com/nextcloud/nextcloud.com/commit/ff51603e509f2410fc436f910c6cf867fe0ab705

[2016-08-23 11:00] #113 closed

[2016-08-23 11:01] jospoortvliet commented on #114
Not sure where that would need changes but most likely in the Contacts app - that can be found here: https://github.com/owncloud/contacts

[2016-08-23 11:01] #114 closed

[2016-08-24 11:19] greyltc opened #115 "daily build tarball pointing to the wrong branch?"
Hi, on your releases page, https://nextcloud.com/install/ you have a link to your daily build tarball: https://download.nextcloud.com/server/daily/latest.tar.bz2

It seems that this is somehow out of sync with the current development. The daily build tarball builds 9.0.52. it would probably be more relevant to have the daily build tarball be on the 10.0 branch, right?

Could you please keep the da

[2016-08-24 23:37] ldonis opened #116 "symmetric buttons"
I think symmetric buttons looks a little bit better.

Actual buttons
![non-symmetric](https://cloud.githubusercontent.com/assets/2887823/17951412/2fb483f4-6a1f-11e6-9be1-2867d79b0be3.png)

Symmetric buttons
![symmetric](https://cloud.githubusercontent.com/assets/2887823/17951699/660ecc5a-6a21-11e6-8218-c9bdc51235f4.png)

What do you think ?

[2016-08-25 20:32] Espina2 opened #117 "Redesign Nextcloud.com"
All the Mockups are here, and the Styleguide to. Take a look.
https://scene.zeplin.io/project/57bf54c24ff046f70c9b9694

![icons](https://cloud.githubusercontent.com/assets/11150206/18035466/6ae05d72-6d4e-11e6-82c9-0a3ef35b88f2.gif)
![centered text icons](https://cloud.githubusercontent.com/assets/11150206/18034784/003d953a-6d3e-11e6-89a4-46b168cf0319.jpg)
![changed logo](https://cloud.githubuserco

[2016-08-25 21:32] Espina2 commented on #116
I think its better to. Can you give me some feedback on this

https://github.com/nextcloud/nextcloud.com/issues/117

[2016-08-25 21:32] LukasReschke commented on #117
cc @jancborchardt @jospoortvliet

[2016-08-25 21:35] Espina2 commented on #117
@LukasReschke You give feedback to, its a open discussion. :)

[2016-08-25 21:42] jancborchardt commented on #117
Very cool start, and awesome to have you here @Espina2! I especially like the light feel and the great graphics for the 3 points! :)

Some input:

- Elsewhere our logo is always white on blue, so we should do that on the website as well. Either with text: https://github.com/nextcloud/promo/blob/master/square.svg or without https://github.com/nextcloud/server/blob/master/core/img/logo.svg – what do

[2016-08-25 22:08] Espina2 commented on #117
Thanks for your feedback.

• First of all I don't think a good ideia when you have a logo you have mandatorily blue bg. I think its more friendly when you have a white background and a color logo because the popup more.

• The Typeface is Lato, is open source to, but in my opinion the weights of this particular font are very good designed, and for this reason I really prefer her.

• I put an iPad

[2016-08-25 23:07] ldonis commented on #117
I really like it!!.. It is a clean design and sightly.
I think centered titles and description on the "Why nextcloud" section will look better.

[2016-08-26 21:36] Espina2 commented on #117
I guys I just updated for "beta" version. I need to tweak some things like the top "banner". What you think about it?

@ldonis Sometimes it looks better centered titles, but its better left aligned because its more easy to read, your eyes dont need to search where starts a new line. :)

[2016-08-26 21:37] Espina2 commented on #117
@jancborchardt

[2016-08-26 22:11] jancborchardt commented on #117
@Espina2 yeah, that looks super awesome! :) Only the points I mentioned above already.

- Open Sans is used as our typeface everywhere, also in the app, and it should stay like that. It’s much cleaner and more readable than Lato.
- The logo in the header looks very thick (did you modify the lines?). Maybe it should be logo to the left and text to the right next to it.
- (I still think a header in

[2016-08-26 22:29] Espina2 commented on #117
• No problem for me, I can change pretty easy.

• I use the SVG that are on website on dont change anything but maybe the software change the lines for inside instead of outside, I will check it. I prefer like you said logo on the left and text on right, but lets test it.

• Hi really like more of the white its more cleaner, The header should be fixed on top and its not nice when the header is blu

[2016-08-27 09:48] jancborchardt commented on #117
Yeah, the logo SVG from the website is wrong cause the strokes are not converted into a shape …
Use the logo SVG from here: https://github.com/nextcloud/promo/blob/master/square.svg, either like that or you can move the text right next to the logo.

By the way, instead of the Shutterstock image we can get a free culture one from [Pexels](https://www.pexels.com/) or [Unsplash](https://unsplash.com)

[2016-08-27 09:49] jancborchardt commented on #117
Regarding the coding question: Maybe it’s a nice project for you to do more HTML+CSS? ;) I’m also from a pure visual design background but programming is more and more important these days.

Otherwise @jospoortvliet and me can do it I guess. :)

[2016-08-27 09:50] jancborchardt commented on #117
Regarding the coding question: @Espina2 Maybe it’s a nice project for you to do more HTML+CSS? ;) I’m also from a pure visual design background but programming is more and more important these days.

Otherwise @jospoortvliet and me can do it I guess. :) Or do some @nextcloud/designers want to jump in?

[2016-08-27 12:03] elioqoshi commented on #117
I really like this!

I don't see much of a problem the logo being blue on white as that's why a logo should be flexible. There is already so much blue, that avoiding doing the same here could be beneficial.

I agree that the tablet is a bit of an overkill. A screenshot could do it I believe (it also makes it look a bit more corporate with all the device stock images). Maybe we can alter that a bit

[2016-08-27 12:13] Espina2 commented on #117
Hi @elioqoshi, im glad that you like it to.

Its like I said, when the header and the background of some area are blue, doesnt look at all.

I agree to, but I think we have to think better about the two headlines, and after we choose a better image to fit in the "concept". Lets say that its some dummy content for now.

[2016-08-27 12:34] Espina2 commented on #117
@jancborchardt

Its not a problem to me buy some photos of shutterstock I have a premium account. BTW unsplash is amazing.

I dont like the BG image at all, dont add any meaning and doesnt show what is Nextcloud. Sorry its my opinion.

In general I dont get attached to what is allready done, I really want to make a new version of "nextcloud" like a 2.0 one. Now i'm focus on website but after Im go

[2016-08-27 19:05] jancborchardt commented on #117
Yeah, it’s mainly a thing of that we support the open source design ecosystem. :)

And ok, good point about the background image. I do think it looks very nice and clean without it.

Regarding improving the design of Nextcloud itself let’s do it very step by step. Design refreshes are good, and we have to take care that lots of people use the software and are used to how things work. Also many ele

[2016-08-28 15:41] Espina2 commented on #117
I uploaded some new versions, and fix and test some points that you are talking about. @ldonis @jancborchardt @elioqoshi

[2016-08-28 20:03] mar1u5 commented on #117
Please stop editing your first post with your mockups by removing your old and adding your new drafts. I'd like to see the differences between your old versions and your new ones, so it would be nice - if the old ones are still accessible 😉 @Espina2

I like your mockup 😉 ...and I would like to see a appropriate PR on that 😁 ... I think it is better to talk about code and themes if they are already

[2016-08-28 20:18] Espina2 commented on #117
@mar1u5 The old ones are only temporary, because of that I change it. Doesn't really add nothing to anyone see the old unfinished versions.

About the code question I don't really understand what you are talking about, but I have this files in Zeplin ( https://zeplin.io) and this are suppose to be my deliverable format. I need email of who are coding this to add to the team (Its free to use).

[2016-08-28 20:24] Espina2 commented on #117
@jancborchardt Sorry for only answer you now.

I'm actually agree with all you said maybe I explain me wrong, I think we can do a lot better in the app to, but first we have started with the website. After that we can make a lot of things, we can make A/B testing in some new designs on the App, maybe only some reskin and design some new icons or maybe I don't know make a new beta version... There

[2016-08-29 04:41] Bugsbane commented on #117
Overall, from a visual design point of view, I really like it. It's clean, spacious, follows fairly standard design paradigms etc.

Now, I'm not sure where the text came from (the current website?), but as an ex copywriter (for a 12 time NYT best selling author, an ex co-founder of the secret service's counterfeit money detection program etc), I can see quite a few improvements that we can make he

[2016-08-29 07:53] Espina2 commented on #117
@Bugsbane Very nice your changes and suggestions, Its very nice to see copywriters here. I will need your help in the next pages to. For me its very difficult to change copy from Nextcloud website because Im not a native english, but I worked some years on big Advertsiement agencies with awesome copywriters and I love you guys. :p

Ideally with have different ton of voice, one for public and one f

[2016-08-29 08:04] Espina2 commented on #117
@Bugsbane I starting redesign this page now, https://nextcloud.com/enterprise/ can you look to all the copy and sugest new ones? I think this page are very heavy text can we reduce it a lot?

[2016-08-29 11:09] jancborchardt commented on #117
@Espina2 great stuff! :) Looking at the newest mockups I really think the last one look best, with the blue integrated header. How do you feel about that? Except that I only have some minor feedback right now:
- The screenshots of the interface in the main view should be zoomed larger to display it nice and simple.
- The phone should show an actual screenshot of the Android app. Ideally with the g

[2016-08-29 11:13] karlitschek commented on #117
Wow. This improved a lot since the last time i looked into this. 👍 from me.

[2016-08-29 12:34] Espina2 commented on #117
@jancborchardt

•I think we are stick with the Headers, that one that have white background is showed when we scroll down and stay fixed on top, its more easy to people navigate the site this way.

It looks nice were to (Its the enterprise page)
![image](https://cloud.githubusercontent.com/assets/11150206/18051419/53ec7eea-6dec-11e6-8b3f-57c4449cb15e.png)

•Can you send me the better screenshots?

[2016-08-29 12:54] mar1u5 commented on #117
I really ❤️ the Enterprise Page 😍 Verry good work from you 👍

[2016-08-29 13:21] oparoz commented on #117
Looks good, a refreshing change :+1:
* I would keep the white header. Looks better and makes it easier to quickly identify menu items, especially when it's fixed, as it should be
* I would get rid of all the iOS/Mac centric devices and software artefacts. Abstract hardware would be  a better fit I think
* We need 6 points for "Why Nextcloud?" The 3 which are there are not necessarily of interest t

[2016-08-29 14:13] oparoz opened #120 "Small fixes to the enterprise pricing table"
We need a few fixes to the pricing table to make it clearer.

* Replace dashes with crosses
* Add the word users to tiers to make it clearer

So it would look something like this:

<img width="609" alt="tiered_pricing" src="https://cloud.githubusercontent.com/assets/323220/18054281/7bbb7612-6e03-11e6-87b9-f5e1511939d1.png">

@jospoortvliet @karlitschek

[2016-08-29 14:17] karlitschek commented on #120
makes sense

[2016-08-29 14:34] Espina2 commented on #117
Im glad that all the people like, and are giving some feedback. Thanks for the <3

@oparoz

•We are going to have the two, one when we make scroll (the white one) and another when We are   on top of the Page (the one without BG). Do you agree?

• Dude don't be an hatter of IOS/MAC devices, I see a white phone and a white screen, not any branded IOS/Mac devices, and nowadays many devices have this

[2016-08-29 14:35] Espina2 commented on #120
Im right now design new tables for the the entreprise page. I will post it soon.

[2016-08-29 14:56] oparoz commented on #117
Could be interesting. I'm waiting to be able to play with it to see if it works :)

Well, I've seen plenty of "themes" which come with the same elements (iOS devie, safari, macbook, mac monitor) and this would be one focused on a specific market. Works well in the US per example, for consumers.
The GUI stuff above the screenshot per example, that's not the OS most people use and thus recognize, so

[2016-08-29 15:39] Espina2 commented on #117
@oparoz

• Do you want start coding the Header?

• This is not a "theme" all of the devices are made by me. This things are just representative not a concrete one, it could be run on MAC OS like I have, you have to retain the information not be concrete. If I want some concrete I take some photos of my computer with my camera. Maybe I can explain it this way...

• Its a good start but i need the r

[2016-08-29 16:03] oparoz commented on #117
No, I meant I'd be happy to test the feature

OK

Yes, it can and it's proving to be a popular feature :)
https://www.youtube.com/watch?time_continue=2&v=sZpYXUD1ZVM

[2016-08-29 16:23] elioqoshi commented on #117
i really like the new designs! But I must say that I would HATE to see Apple devices on Nextcloud, which is all about Free Software cloud solutions for maximum privacy, yet I see it presented on Apple devices. I would roll my eyes if I'd see it live. Let's not go that route. Use other devices if necessary but Apple would be too much of an irony.

[2016-08-29 16:53] Espina2 commented on #117
@elioqoshi

Its very nice that you like to. Thanks

Dude, that is just a "Fanboy" feedback and will not design or illustrate another devices, but you can do it if you want.

Why im not design new ones? Because this are utopic subject, you can say "oh no I Hate apple devices", and "I can say "oh no I hate Microsoft devices" and another "can say oh no I hate Linux devices", and doesnt matter at all

[2016-08-29 19:56] Espina2 commented on #117
Enterprise (I need to think about the Public Sector and Education illustrations)

![enterprise](https://cloud.githubusercontent.com/assets/11150206/18065230/ee1d636a-6e2a-11e6-9e37-963c4d3e5d94.jpg)

[2016-08-29 20:01] LukasReschke commented on #117
This looks really awesome, @Espina2 🚀

@jospoortvliet Guess you need to figure out some CSS magic again at some point 🙈 😜

[2016-08-29 20:45] oparoz commented on #117
Yeah, I think the FAQ there is going to be useful :)

A couple of issues:
* some items are optional, so we need an icon for that
* you can't just "buy it", so maybe keep the "get started now" text
* are the prices just going to be added at the end?

[2016-08-29 23:06] Espina2 commented on #117
No need to to know if they are optional on this fase. I really think about this.

I agree with you Buy it isnt Really good copy, but get started now dont are good to. We need to get a new alternative.

The final price it will depend on many variables and since we have to contact to "get started" we can send a proposal price after we contact. Anyway they already have a base price on top.

[2016-08-30 05:32] Bugsbane commented on #117
Just an interesting quirk of human psychology... typically having an odd number of bullets (typically 3,5 or 7) tends to convert better in split tests than even numbers. The only place I know of where even numbers usually outperform odd numbers is in pricing for prestige items (eg a $1,000 watch instead of a $999 one)

Absolutely. They're very different target markets, with very different psycholo

[2016-08-30 09:37] Espina2 commented on #117
@Bugsbane

Thanks for your detailed and good feedback.

• You are talking about prices, and its easy to explain, in design we like pair numbers because it look organise to the eyes.

• I think it have to be more "enterprise" language can something very similar but without of "Relax".

• Nice to have testimonials, but we don't have "data" for doing that, we need photos (photos is better than logos

[2016-08-30 09:58] Espina2 commented on #117
I will do more things when anyone start to code. I think we have now a very solid starting point. :)

I will help to review the code and some Q&A. All you can see all its done here https://scene.zeplin.io/project/57bf54c24ff046f70c9b9694

I suggest the people who are coding this to sign up on
https://zeplin.io

And just send me the username to add to the team and you will have something like this

[2016-08-30 13:19] elioqoshi commented on #117
Having no Apple devices is not a matter of taste, but a matter of company values and they contradict with Nextcloud values. @jancborchardt can agree with this I suspect since this seens to be "my personal taste"

[2016-08-30 13:23] LukasReschke commented on #117
In the end it's all about who does the work 😉 –  I wouldn't block this just because of some devices that look like an iPhone or a MacBook.

If someone in the future has another replacement that looks at least as nice we can still replace them. But let's not drag this into a discussion of "closed devices" vs. "open devices".

[2016-08-30 13:27] elioqoshi commented on #117
We are talking about Nextcloud here, not Dropbox. If one wants to get the work "done" they use Dropbox. Also, it's the first thing you see on the page.

Yes, this is exactly the discussion we are having and I don't see why we shouldn't "drag" it there without backing arguments in my honest opinion.

[2016-08-30 14:19] jospoortvliet commented on #117
Wow, awesome work @Espina2 this looks seriously great. Seriously! So I can help with CSS  and HTML and I really appreciate the feedback from @Bugsbane on the text, that is awesome and we need some of that!

This will make the website look so much more professional, damn. Rocking.

I created a user (jospoortvliet) on zeplin. What is the plan for coding this? I will not have much time until at/after

[2016-08-30 14:24] Espina2 commented on #117
You would deny support a people who work with iphone and mac? Why nextcloud have desktop/mobile clients for that?

You dont make any sense at all...

For example google doesnt develop app for windows phone because we dont want to do it, if you dont want open source software work in not open  source software why develop for them?

Its just stupid debate about that and makes no sense at all. And sti

[2016-08-30 14:31] Espina2 commented on #117
@jospoortvliet Its nice to help something that I use all my days.

Thanks for your invitation but Im from Portugal, and its very hard to go to Berlin, maybe in another time I can go. :)

I already added you to the team. I think you should focus somehow in reuse some of the code you done. Im not a coder, I can help because I can read code, but im not good at making them "if you get what I mean". I

[2016-08-30 14:55] jospoortvliet commented on #117
About the devices conversation - I don't care and we shouldn't, in general. Let the devices look as they do and if we want to change it later on - we can. It's a minor issue at best, imho.

@Espina2 thanks for the invite. Berlin is far, but perhaps we can help with travel support?

Glad you're helping out! I'm no coder either, btw, I learned over the years of having to maintain a website ;-)

But

[2016-08-30 16:38] Espina2 commented on #117
@jospoortvliet maybe in the next conf. Now its very difficult to me, but thanks for offering me help. :)

My problem are that I really dont know here to start, and I hate php and wordpress... :(

I think if you post this job and show the mockups maybe anyone its interested to help. What you think?

Its the first time I do it some things for open source, you know what to do better than me I guess.

[2016-08-30 17:25] jospoortvliet commented on #120
@Espina2 is doing great work which will make this much better but for now, a quick fix...

https://github.com/nextcloud/nextcloud.com/commit/56fcd76e74748b2253dc5509b039ed6ad17ca11c

[2016-08-30 17:25] jospoortvliet commented on #120
@Espina2 is doing great work which will make this much better but for now, a quick fix...

https://github.com/nextcloud/nextcloud.com/commit/56fcd76e74748b2253dc5509b039ed6ad17ca11c

[2016-08-30 17:27] jospoortvliet commented on #116
Yeah, it would be an improvement but it is pure style and yes, I then prefer to go full redesign like @Espina2 has been working on....

[2016-08-30 17:36] jospoortvliet commented on #115
Yeah, so the script right now points to the latest in stable 9, should move to stable 10. But I'm not super happy with it either, so let's see if we can create an issue and then convince @LukasReschke to spend a little time on this.

What I'd like to have is a latest-stable daily and a master daily. Makes sense, right?

[2016-08-30 17:43] jospoortvliet commented on #117
Generally, the best is to try and move in small, incremental steps. So for example, the header is, right now, in:
https://github.com/nextcloud/nextcloud.com/blob/master/templates/header-top-navbar.php
with CSS here:
https://github.com/nextcloud/nextcloud.com/blob/master/assets/css/home.css

This doesn't really use php, by the way, as I have 0,0 PHP skills. I only copy-paste that shit. It is all ht

[2016-08-30 17:44] jospoortvliet commented on #50
Totally true. Perhaps we should simply skip worldwide. Or give a choice between specific countries OR worldwide?!?

[2016-08-31 09:39] Espina2 commented on #117
I tried to install and setup a local development process and made all the steps( I tried more than one time and with different versions of wordpress), and when I try to acess http://cloud.paulomoura.com.pt/wordpress/ give me error, but when acess from were http://cloud.paulomoura.com.pt/wordpress/wp-admin/ its shows all the things.

![screen shot 2016-08-31 at 10 32 39](https://cloud.githubusercon

[2016-08-31 10:52] LukasReschke commented on #117
@espina2 Mind giving me access to the zeplin team thingy as well? You can find my mail address in my profile.

[2016-08-31 13:17] LukasReschke commented on #117
@Espina2 Can you mark the other images also as exportable? That would be awesome :)

[2016-08-31 14:21] Espina2 commented on #117
@LukasReschke I add your email on Skype. Can you talk over there?

[2016-08-31 21:05] jancborchardt commented on #117
@Espina2 @elioqoshi folks, let’s not get caught up in fights about operating systems and stuff. ;) It’s not about »hating Mac« or whatever. It’s just that it seems much better when it’s clear that the software is not bound to a specific operating system.
All device forms are fine except the smartphone – it just needs to lose the distinct iPhone-like volume buttons on the side and maybe also the ca

[2016-08-31 21:06] jancborchardt commented on #117
@Espina2 and yes, good call on now first taking a break – as said stuff doesn’t just magically get implemented but takes time. And I don’t want you to be disappointed if it takes a bit longer maybe, especially since we are deep in conference preparations. :)

[2016-08-31 22:22] Espina2 commented on #117
@jancborchardt Me and @LukasReschke already starting to code, and we have a pretty good start. :)

Dont worry i'm not trying to get any fight I just dont want to haste my time why things that doesnt matter.

[2016-08-31 23:29] ldonis commented on #116
We are going to redesign the webpage completely from scratch

[2016-08-31 23:29] #116 closed

[2016-09-01 08:27] LukasReschke commented on #117
In case somebody wants to help: https://github.com/lukasreschke/nextcloud.com 😉

[2016-09-01 14:02] #120 closed

[2016-09-01 14:17] oparoz commented on #117
That's awesome Lukas, makes it easier to get a feel for the design.

* We shouldn't limit the landing page to showing the devices only, it doesn't work with all configs. See screenshot
* Blue header doesn't work that well. Menu is too discrete, except for "Download"
* White header doesn't work with the white devices and the large white bottom row, makes the blue look out of place

<img width="983"

[2016-09-01 14:50] Espina2 commented on #117
@oparoz

http://www.w3schools.com/browsers/browsers_display.asp

All the websites doesnt look good at this weird sizes that you are posting prints.

• Blue header doesn't work that well. Menu is too discrete, except for "Download"
• White header doesn't work with the white devices and the large white bottom row, makes the blue look out of place

This are really weird feedback. Why we doesnt work?

[2016-09-01 15:27] oparoz commented on #117
It's called portrait mode and is often use on larger screens

Yes, I think you have to set a max height and bring the next section up when you reach that.

Sure, but we're not trying to win a design contest, but to build something efficient.
Last time I looked at Fortune 500 websites, they included a clearly defined menu area, not just menu text printed on the background (to simplify). I just thin

[2016-09-02 19:05] Espina2 commented on #117
I have updated the version in zeplin ( https://scene.zeplin.io/project/57bf54c24ff046f70c9b9694)
with some of the feedback I think its relevant.

If anyone wants to help me and Lukas coding, is where you you get the project
https://github.com/lukasreschke/nextcloud.com

[2016-09-05 08:02] hitam4450 opened #125 "Desktop Client for Nextcloud"
Hi, How about a desktop client for the NextCloud Server to be able to connect not only from mobile devices to the server, but from the desktop as well!

regards, hitam4450

[2016-09-05 17:36] zeugmatis commented on #125
I believe this already exists on the [download page](https://nextcloud.com/install/) - bottom right side of page under "Get Involved":

<img width="412" alt="screen shot 2016-09-05 at 10 34 08 am" src="https://cloud.githubusercontent.com/assets/2687584/18254640/91d416ba-7354-11e6-8bed-c3afce463e7a.png">

[2016-09-05 17:49] #125 closed

[2016-09-05 18:39] MariusBluem commented on #125
These are the RCs 😁 You will find the released clients here: https://nextcloud.com/install/#install-clients

[2016-09-08 09:50] croessner opened #128 "Feature request: enhancing API to have trash-bin support in iOS app"
Hi,

I opened a whishlist feature in the forum:

https://help.nextcloud.com/t/wishlist-trash/3049/2

I was asked to open a ticket for this :-)

Would be cool to enhance the API so that mobile apps like the one for iOS can implement a trash-bin

[2016-09-08 13:49] hitam4450 commented on #125
Thanks a lot for your guidance!
regards, hitam4450

[2016-09-08 22:10] MariusBluem commented on #128
You are requesting an API for the **trash bin** (...which makes sense :wink). This repository is about the Website "nextcloud.com" ... The right place for this request would be the repository of the server 😁 ... I've just copied over for you: https://github.com/nextcloud/server/issues/1332

[2016-09-08 22:10] #128 closed

[2016-09-09 21:43] thelinuxfr commented on #55
Hi,
others more :
- https://nextcloud.com/workflow/
- https://nextcloud.com/sharing/
- https://nextcloud.com/spreedbox/
- https://nextcloud.com/webrtc/
- https://nextcloud.com/collaboraonline/

[2016-09-10 09:27] MariusBluem commented on #55
😒 ... Thank you for your report 😜 @jospoortvliet

[2016-09-15 09:55] pierreozoux opened #135 "Add new provider error - The link to an image you entered does not appear to be valid."
I just tried to submit IndieHosters to the list of providers, but I get this error:

The link to an image you entered does not appear to be valid.
Here is the image:  https://indie.host/indiehosters.png

[2016-09-17 06:13] jospoortvliet opened #137 "Fix https://nextcloud.com/box/ layout - small task, need help!!!"
![spectacle wz1437](https://cloud.githubusercontent.com/assets/551757/18599381/880462ae-7c58-11e6-8f17-6827d0ac6afa.png)
That is horrible... And I have no time to fix it, help welcome!

[2016-09-17 18:26] Espina2 commented on #137
Hi, Jos you can easy fix this if you have a drop inside on the button, consider this example ( Its just a quick tip)

http://foundation.zurb.com/sites/docs/v/5.5.3/components/dropdown_buttons.html

If you want I can think and design a better page, and if anyone can send me the box (no need the hardrive) I can take better product photos. :)

[2016-09-17 19:53] MariusBluem commented on #137
@Espina2 could you open a PR 😁

[2016-09-17 20:14] Espina2 commented on #137
@MariusBluem How I do that? Can you do it or teach me? ;)

[2016-09-17 20:21] MariusBluem commented on #137
- Navigate to the `page-box.php` file (here: https://github.com/nextcloud/nextcloud.com/blob/master/page-box.php)

- Click on the small pencil (Edit this file)

- Edit the file (remove the buttons and add your dropdown with the links)

- Type in a title for your commit ("Fix #137" would be a nice one ;) ... Describe what you have done (Don't write a big novel for such changes)

- Click on "Create

[2016-09-17 20:28] Espina2 commented on #137
@MariusBluem sorry, I didn't understood first when you asked for the PR, but for your answer now I can see that you wanted me to change the actual code and I can't do that because I'm a designer, not a coder. :) I was only trying to show you an easy way for you to do that because that site has examples with documentation.

[2016-09-17 21:12] MariusBluem commented on #137
Thats also my problem 😅 @Espina2 ... I will try 😉

[2016-09-24 15:38] enoch85 commented on #117
I just love this! Very good work @Espina2

[2016-09-24 16:06] Espina2 commented on #117
@enoch85  Thanks I'm glad that you like. Are working in more things and some refinements in this pages.

[2016-09-24 17:09] coderkun opened #145 "Fix menu layout of docs.nextcloud.com"
The subdomain [docs.nextcluod.com](https://docs.nextcloud.com) has a different menu (styling and order of items):

![nc-news](https://cloud.githubusercontent.com/assets/5249815/18809955/48157a42-828a-11e6-98de-80b1ed69cf5d.png)
![nc-docs](https://cloud.githubusercontent.com/assets/5249815/18809956/49f86a86-828a-11e6-8b78-0324f53dcc52.png)

Both menus should at least look the same. Maybe there is a

[2016-09-26 08:35] Espina2 opened #147 "Nextcloud Box Photos"
I will post here some photos of the box. You can choose what is better and for what to change in the page you have now.

What do you think about the photos?

Anyway I will post it a new page soon to.

![nextcloud-box-perspective](https://cloud.githubusercontent.com/assets/11150206/18827793/832ebcfe-83cc-11e6-84bf-137562387fc8.png)

![nextcloud-box](https://cloud.githubusercontent.com/assets/111502

[2016-09-27 10:34] jospoortvliet commented on #147
The third - I suggest you connect the last cable, too, the one which goes into the Pi (it is now loose). Then it makes for a nice image. See the current website: I took a pic of the accessories, but perhaps you can do better.

[2016-09-27 13:03] Espina2 commented on #147
I agree with you in the third one. I have more pictures but I didnt do the after effects and corrections. I thinking im do a video like the first picture with the raspberry pi turn on because it have a very nice white light.

[2016-09-27 16:56] oparoz commented on #147
Awesome work :)

I have a slight concern about the 1st picture, there is something strange going on between the perspective of the box and the logo. It's probably an optical illusion, but maybe we could use a slightly different angle?

[2016-09-27 18:16] Espina2 commented on #147
Now that you say, when I look at the picture I saw what you are talking about it. I dont know if are because of the printing or another thing.

[2016-09-28 09:40] #137 closed

[2016-09-29 10:05] oparoz opened #149 "Add tutorials section"
I can never find our nice tutorials and there is no search field, so I end up using a search engine or scrolling through months of news.

I think it would be beneficial to have a tutorials section on the website.

[2016-09-29 10:09] oparoz opened #150 "Enterprise page"
We need a separate place to discuss and validate the enterprise page before it goes live.

Current issues:

- [ ] Plans table has wrong information
- [ ] "Buy it" should be renamed, maybe to "Pricing"
- [ ] Missing Pricing page

[2016-09-29 10:15] oparoz opened #151 "Rename all references to the AGPLv3 to AGPLv3+"
The license used is the AGPL 3.0 or later. There are different ways of naming it, but we should update all our references to the AGPL to make it clear which version is in use.

@jospoortvliet @schiessle

[2016-09-29 11:48] Espina2 commented on #150
@oparoz What is the Pricing page nowadays?

[2016-09-29 11:51] Espina2 commented on #149
I recommend that the tutorials should be inside of the documention.

[2016-09-29 12:00] oparoz commented on #149
Thanks!

I'd like it to be easier to find, but our top menu is large enough. Maybe it should be an additional box on the main page. We'll see.

[2016-09-29 12:02] oparoz commented on #150
Well, there isn't one. The prices are included in the "Plans table". Apparently, it's been decided to go through a separate page and I don't really know if that will work, because people will then see prices without the features of the plan, but it will have to be created from scratch.

[2016-09-29 12:59] Espina2 commented on #150
https://nextcloud.com/enterprise/?staging=true

If you see you have the price in the top of the table. Now you only dont have a hidden table to do math for you. The think that Im going to design is something like the contact form but with more information and in clever way (not a regular form).

Doesn't matter to have the precise price because they all having to contact and if I am right they have

[2016-09-29 13:12] Espina2 commented on #149
I dont understand this part.

Navigate to the Homepage in the link above, and you can see that I already changed the structure of the menu for having sub-menus.

https://scene.zeplin.io/project/57bf54c24ff046f70c9b9694/screen/57c9aa04d553cb03101e7ab5

I will post a diagram with the tree of the structure (just need that my iPad charge up)

[2016-09-29 20:23] oparoz commented on #149
Cool about the sub-menus.

The boxes I'm talking about are the 3 zones below "Why Nextcloud", but looking at your picture, it would probably look out of place...

[2016-09-29 20:29] oparoz commented on #150
Actually, we get quite a few requests asking for the cost for x users, so what we would really need is an online calculator to give decision makers an idea of the cost, but what we currently have at the bottom of the plans would work in the mean time. In any case, we haven't decided to hide the prices yet, so they need to be on that page until we decide otherwise.

[2016-09-29 20:31] LukasReschke commented on #150
@oparoz Clicking on buy opens https://github.com/nextcloud/nextcloud.com/blob/staging/page-buy.php.

[2016-09-29 20:33] oparoz commented on #150
Thank you @LukasReschke!

[2016-09-30 00:00] Espina2 commented on #149
Tate a look at this. I will add tutorials under documentation. Ir you have sugestions

https://cloud.paulomoura.com.pt/owncloud/index.php/s/Ca4jUhTGtVRe5cF

[2016-09-30 09:29] nickvergessen opened #153 "Add a link to the changelog on the download page"
Other companies:

[code]

Also I miss an easy way to get the 9.0.54 update. Other companies have a link:

[code]

Would be nice if we can add those as well somehow.

[2016-09-30 09:36] oparoz commented on #149
I couldn't find "Documentation" last night and I still can't ;)

[2016-09-30 12:38] Espina2 commented on #153
I will think on that as soon I jump in to design this page. :)

[2016-09-30 12:43] Espina2 commented on #149
You have right I didn't see the diagram after the conference. At some point we changed the menu from "Developers" to "Get involved" and can't be inside of "Get involved". Where you should think it can be documentation?

[2016-09-30 13:05] oparoz commented on #149
I would add support as a top menu-entry and it would include documentation and tutorials + links to forum, enterprise, etc.

I would also change "demo" to "try it!". It would redirect to a page which includes a link to the demo and some links to the VM, docker, snaps and at the bottom there could be a list of tutorials as well.

[2016-09-30 13:43] Espina2 commented on #149
It makes sense, Im just a bit afraid of doesnt have visible the at the top menu enterprise. But makes sense for me.

[2016-09-30 13:45] oparoz commented on #149
^^^^^ @jospoortvliet

[2016-10-01 15:40] jancborchardt opened #155 "Add avatars to frontpage preview of blog posts and Twitter posts"
Having faces there is very important to not just have bland text. cc @jospoortvliet @Espina2 @LukasReschke

[2016-10-01 15:41] jancborchardt opened #156 "Remove CAPTCHA from newsletter signup"
Since there is an email confirmation link sent anyway, the CAPTCHA is just annoying.

[2016-10-01 16:17] Espina2 commented on #155
Temporary solution for now, not everything is finishes on the page.

[2016-10-02 17:49] Bugsbane commented on #85
Still broken for me. I came here to report this. Also, [the feed for releases](https://nextcloud.com/category/release/feed/) listed on [the news page](https://nextcloud.com/news/), while seemingly being valid, doesn't list any releases :(. Should I file another issue for that, or could this be related?

[2016-10-03 13:09] jancborchardt commented on #155
Of course, just opening issues where I see things. Nothing is ever done ;)

[2016-10-03 13:12] jancborchardt opened #157 "Directly integrate the newsletter subscription input field and button to the page"
With phpList you can directly integrate it: https://www.phplist.com/ajaxdemo

No need for a redirect, people can just put in their info directly on the frontpage. Much easier.

[2016-10-04 12:33] jancborchardt commented on #147
Nice work! :) Another issue with the first picture is that you never really see the box this way. Even though the picture on https://nextcloud.com/box/ needs to be of better quality, the perspective is good and how you see it usually.

Would be cool to get a shot of it similar to that perspective. And then one in that perspective but open. Then we can also do this Mac Pro animation stuff we talked

[2016-10-04 13:24] Espina2 commented on #147
Yup I already have all the pictures but need to post product them, I have in another perspectives just only no time to do nothing beside coding the new homepage and enterprise. :)

[2016-10-04 13:47] jancborchardt opened #158 "Link underline on the new website"
Opening as new issue cause I don’t see it as blocking for the release.

- [ ] Instead of using text-decoration:underline, we should use `border-bottom: 1px solid #textcolor;` as it does not cut the descenders of the text and also has a bit more space to the text.
- [ ] In the navigation, the hover should use the big underline effect same as for the currently active element. (Instead of the current

[2016-10-04 13:52] jancborchardt commented on #147
Cool, no rush! :)

[2016-10-04 14:30] Espina2 commented on #158
@jancborchardt can you post print screens for the first issue you are talking about.

[2016-10-04 22:34] jancborchardt commented on #158
Sure, this is from the »Contact us« links on the Enterprise page for example: https://nextcloud.com/enterprise/?staging=true

Current situation with text-decoration:underline;
![capture du 2016-10-05 00-31-05](https://cloud.githubusercontent.com/assets/925062/19094931/3fbd936e-8a93-11e6-9910-1d8f2e81ef1b.png)

Correct with border-bottom: 1px solid #fontcolor; – not cutting through the descenders a

[2016-10-04 22:59] Espina2 commented on #158
Oh Thanks. Nice tip.

[2016-10-05 13:31] insightfill opened #159 "Typo on nextcloud.com/box page"
https://nextcloud.com/box/ page has a typo. Says: "Currenly you can only purchase the Nextcloud Box in Europe and the USA. We're working on bringing the box to other regions!" (Should read "Currently")

[2016-10-05 13:46] insightfill opened #160 ""Contact us" webform unforgiving on phone number"
The page https://nextcloud.com/contact/ seems to not allow my US phone number, no matter what format I try. Always directs to "We are very sorry, but there were error(s) found with the form you submitted: The phone number you entered does not appear to be valid, did you add a country code like +49?"

My phone number is the US format of "1-630-XXX-XXXX" and no variation of it seems to get through,

[2016-10-05 21:02] tflidd commented on #62
Seems, someone did this already. However, it would be nice to provide download links for each of these versions.

[2016-10-05 21:19] tflidd commented on #160
Your number must start with either 00 or +:
https://github.com/nextcloud/nextcloud.com/blob/master/page-contactsubmit.php#L32
+1-630-.. should work.

[2016-10-05 22:47] MorrisJobke opened #162 "Typo in collabora blog post"
There is `docker pull docker pull` but it should say `docker pull collabora/code` (see also first comment)

@jospoortvliet @LukasReschke Who can fix this?

Thanks

https://nextcloud.com/blog/collabora-online-1-8-with-lo-5-1-and-new-features/

[2016-10-06 07:27] LukasReschke commented on #162
Fixed. THX.

[2016-10-06 07:27] #162 closed

[2016-10-06 13:22] #159 closed

[2016-10-06 15:23] LukasReschke opened #163 "No title in new pages"

[2016-10-06 15:24] #163 closed

[2016-10-06 15:24] jancborchardt commented on #163
Should be like: `Pagename - Nextcloud` same as in Nextcloud itself. ;)

[2016-10-06 15:34] Espina2 opened #164 "New NEWS page"
So I dig a bit in what could the news page. The content is dummy so go give feedback about dummy content.

![news](https://cloud.githubusercontent.com/assets/11150206/19158968/9bf77ec4-8be2-11e6-9651-347a30a092a1.jpg)

What you think guys?

@nextcloud/designers

[2016-10-06 15:37] skjnldsv commented on #164
He's unstoppable! 😱😱😱

[2016-10-06 16:31] jancborchardt commented on #164
Looks great! :) Just details:

- Let’s put the date below the short preview text, because it’s not as important as the title. Same for Twitter and forum posts.
- For Twitter and the forum posts, the avatar + name should be above the text as that’s also how it’s displayed on the respective pages
- The capitalized names and dates make them harder to read and we don’t really do that anywhere else. Le

[2016-10-06 16:35] jancborchardt opened #165 "Blog about the new website design"
Now that the design is deployed and we also have the [blog post of the conference workshop](https://nextcloud.com/blog/nextcloud-design-team-updates/) up ([retweet it](https://twitter.com/jancborchardt/status/784017328648388608) by the way! ;) – we should really blog about it!

@Espina2 it would be a great opportunity to describe the workflow of doing it, what motivated you to do it, the design re

[2016-10-06 16:47] Espina2 commented on #164
When I actually start design the page I have the categories, but I can find them in the actual page I remove it. But I agree with you.

The capitalized names and dates make them harder to read and we don’t really do that anywhere else. Let’s keep them normal.

We only use one font and I need to give some hierarchy to text. I now its more harder to read but you can have add letterspacing to get thi

[2016-10-06 16:55] Espina2 commented on #165
@jancborchardt thanks for the invition I have to think about it, but for sure.

[2016-10-07 10:15] Espina2 opened #167 "Article Page"
So after I finished the news/blog page it's time to dig in the article itself.

I thinking in have some header collapsed when you scroll down to give you more context and for you can navigate throught articles, so you don't need to back to go another article. I have a bit afraid of hide the header here, but I think its fine if you scroll down you want a reading experience not all the areas of the

[2016-10-07 12:01] skjnldsv commented on #167
Awesome job!! 👍

[2016-10-08 22:21] jancborchardt commented on #164
Letter spacing doesn’t give the readability back. People read words by their shapes, not by individual letter. That’s why it’s important to have it in lowercase.
For hierarchy:
- The names are already blue and next to an avatar so that’s fine without caps.
- And the date shouldn’t be screaming at you with caps because it’s not very important. A more appropriate hierarchical design would be to have

[2016-10-08 22:32] jancborchardt commented on #167
Very nice! :)

Some questions:
- There’s a bit much noise at the top of the article. Should we maybe put the share buttons at the bottom of the article instead, when you are finished reading?
- The title heading being bold is a bit inconsistent with the main page and others right now. Seems it should be a bit larger and light instead?
- Just FYI: Since there will be a lot of syndicated posts from

[2016-10-09 03:25] skjnldsv commented on #167
If no image, then put a random cat picture! 😁

[2016-10-09 11:40] Espina2 commented on #167
@jancborchardt

We can do that, my initial aproach is the sharing fixed in that position.

True, I have to test it, Im a bit afraid that dont have contrast enough because we have many typography styles. I need to test it. But good point 👍

I dont see any post in the actual content that don't have image. But in the article itself its easy when you dont have image. You simple don't show that part. I

[2016-10-10 08:32] MorrisJobke commented on #167
But we don't have control over all blogs. This is also a feed of all community blogs by other people. 😉

[2016-10-10 08:37] LukasReschke commented on #167
Personally, I think that's actually a mistake. There's so much unrelated stuff in there that is for most people just confusing. Why should some random blog about PHP from Evert and Co. show up there etc.?

We either need to force some people to tag their stuff properly and only have tagged RSS feeds in there or more moderation by making the default view only include nextcloud.com blogs…

Sure – a

[2016-10-10 12:49] jancborchardt commented on #167
Totally agree with Lukas here – only stuff really tagged »Nextcloud« should show up. But then the diversity of showing so many contributors is good!

[2016-10-10 12:56] skjnldsv commented on #167
<details>
<summary>Agreed too! </summary>
![mibayei](https://cloud.githubusercontent.com/assets/14975046/19236824/ad73c03a-8ef9-11e6-9f5e-c46efcd5b53e.gif)

</details>

[2016-10-10 13:29] tomfotherby opened #172 ""select your country" dropdown on box purchase page not working"
On the webpage to buy a nextcloud box ( https://nextcloud.com/box/ ) - the "select your country" dropdown doesn't do anything. I tried Firefox and Chrome. I think this bug means it's not possible to purchase a box?  (or I'm being stupid, a very real possibility :stuck_out_tongue_winking_eye: ).

I wanted to let the nextcloud box team know about this, not sure if this is the right place.

[2016-10-10 13:59] MariusBluem opened #173 "Nextcloud logo is in a bad quality"
Since the redesign of the page (...which is very nice 💪) the Nextcloud logo in the top-right corner of the page seems to be in a bad quality. White on blue seems to be good, but the blue/black on white is a bit strange.

Safari 10.0 on macOS Sierra

@Espina2 @jospoortvliet

[2016-10-10 14:20] Espina2 commented on #173
I think is already fixed but not merged.

https://github.com/nextcloud/nextcloud.com/pull/168#issuecomment-252607762

[2016-10-10 14:41] Espina2 commented on #172
Yes you are in the right place. :) I already commit a fix for that. Some javascript files from bootstrap are loaded in the page.

[2016-10-10 14:41] #172 closed

[2016-10-10 14:43] #117 closed

[2016-10-10 18:44] LukasReschke commented on #173
Deployed

[2016-10-10 18:44] #173 closed

[2016-10-10 21:17] chrisjimallen commented on #156
Hi, the newsletter link is https://newsletter.nextcloud.com/?p=subscribe&id=1, which is not in the repo, so I'm guessing this one can't be completed by external contributors?

If I'm wrong, please advise and I'll be happy to help.

[2016-10-11 11:31] jancborchardt commented on #156
@chrisjimallen yeah, I think it’s something only in the phpList admin interface which @jospoortvliet and maybe @LukasReschke have access to.

You are very welcome to help with other aspects though! :)

[2016-10-11 11:33] jancborchardt commented on #117
(@Espina2 just as sidenote: we rarely ever use the »Lock conversation« feature – to keep things open. :)

[2016-10-11 11:34] Espina2 commented on #117
Still learning and improve my github knowledge. :)

[2016-10-11 12:51] LukasReschke commented on #156
We can disable that in PHPList but you'll end up with a lot of spam subscriptions due to people on HackerOne running scanners. If we can live with some people complaining … sure …

@jospoortvliet Your call. ;)

[2016-10-11 13:43] jancborchardt commented on #156
@LukasReschke but they need to confirm their email anyway by clicking a link. That’s already the mechanism in place. Then we can throw out unconfirmed emails at some point.

Some people complaining on HackerOne is better than making it difficult for a lot of people to sign up to our newsletter.

[2016-10-11 16:44] Espina2 opened #176 "Front Page Latest news Improvement"
I think the area with the latest news in front page are a bit boring. For that I start create this illustration (not finish yet). What you think about it? Should I invest more time in it or not?

![frequently asking questions](https://cloud.githubusercontent.com/assets/11150206/19279691/57a0a74a-8fda-11e6-82ac-18e8d78727bd.png)

@nextcloud/designers @LukasReschke @jospoortvliet

[2016-10-11 16:46] MorrisJobke commented on #176
I like it 👍

[2016-10-11 20:08] skjnldsv commented on #176
Nice! 👍

[2016-10-11 23:08] jancborchardt commented on #176
Looks good! Let’s also add the avatars to the sections because without images and only text there it looks quite sad ;)

[2016-10-12 13:13] jancborchardt opened #178 "More padding for navigation"
Currently the clickable area of the top navigation is very small, basically just the text. The padding of the entries should make the element at least 44*44px big. And ideally extend to the top of the viewport and the bottom of the navigation to provide the most easy to click area.

cc @nextcloud/website

[2016-10-12 22:05] tflidd opened #180 "Remove sharepoint from feature list"
https://nextcloud.com/features/
lists sharepoint under the supported external storage type. However, it is not documented anywhere and there are plans to integrate it in NC 11: https://github.com/nextcloud/server/issues/745

Perhaps we should remove it from the list until it is fully supported, there already were some people asking for it: https://help.nextcloud.com/t/integrate-sharepoint-librarie

[2016-10-13 11:28] #176 closed

[2016-10-13 16:31] tobiasKaminsky commented on #85
At least the junk after the closing < /rss> needs to be removed.

[2016-10-13 16:31] tobiasKaminsky commented on #82
At least the junk after the closing < /rss> needs to be removed.

[2016-10-14 16:49] #180 closed

[2016-10-14 16:49] MariusBluem commented on #180
Thank you for the report 💪

[2016-10-17 08:11] Skywalker-11 opened #190 "Install page broken"
The page https://nextcloud.com/install/#install-clients is broken:
![screenshot](https://cloud.githubusercontent.com/assets/11180862/19429816/f935de06-9451-11e6-80a1-6044eb5eb8d6.jpg)

Tested with current Firefox and Google Chrome.

Chrome shows the following error in the console:
cd699.js?x16328:9 Uncaught TypeError: $(...).velocity is not a function(anonymous function) @ cd699.js?x16328:9o @ cd6

[2016-10-17 08:13] Skywalker-11 commented on #190
is fixed

[2016-10-17 08:13] #190 closed

[2016-10-17 10:14] jospoortvliet opened #193 "speed it up more"
I did https://github.com/nextcloud/nextcloud.com/pull/191 to speed up loading the site. This optimized a lot of images and increased our Google speed score from 68 to 88 - which helps our google ranking. This is what is left to do:

![spectacle b20235](https://cloud.githubusercontent.com/assets/551757/19433950/3e18232e-9463-11e6-9134-e66eedb37a6d.png)

I guess we should put the css & javascript in

[2016-10-17 10:18] Espina2 commented on #193
We should have some scripts to do that automatically and minify the code to. Right?

The javascript I think they have to be compiled in one file only, like the sass compile one css file. Its less request's to the server.

[2016-10-17 11:49] nickvergessen opened #194 "Should the download button in the header be white?"
![nextcloud_-_2016-10-17_13 48 53](https://cloud.githubusercontent.com/assets/213943/19436450/777fbad4-9470-11e6-867b-84f699921642.png)

I think it should be white to have a bigger contrast to the other links

[2016-10-17 12:30] Espina2 commented on #194
Im working in a newer solution with dropdowns for more easy navigation. We discuss that on that conference.

You can take a look what Im talking about here: https://scene.zeplin.io/project/57bf54c24ff046f70c9b9694/screen/57c9aa04d553cb03101e7ab5

[2016-10-17 12:33] Espina2 opened #195 "Remove Underline under the logo When Header is scrolled"

[2016-10-17 12:33] Espina2 opened #196 "Hover underline under the logo When Header is scrolled"
![image](https://cloud.githubusercontent.com/assets/11150206/19437666/4f02aeb0-946e-11e6-9d66-d9981e812279.png)

Need to remove this.

[2016-10-17 13:02] jancborchardt commented on #194
@Espina2 »Download« should remain styled like a button though to be a clear call to action, right?

[2016-10-17 13:05] jancborchardt opened #197 "Replace image of 30-something white bearded computer dude with something nicer"
The Nextcloud community is diverse, as are the users. This should reflect on our frontpage. We could even have different pictures and show one at random. But only having one white male is a bit meh.

cc @jospoortvliet @Espina2 where did you get the photo from? Can we get other more diverse photos too?

[2016-10-17 13:13] Espina2 commented on #197
@jancborchardt

He should look for a nice image for sure. But for now it talks about Nextcloud being perfect for Home and Office, and the image good or bad show that. At the time its the best free image that I see that help visualize the copy.

@jospoortvliet already told me that right now the frontpage looks very home user and we need to make a better connection with enterprise to. :)

Anyway if

[2016-10-17 15:51] jancborchardt commented on #197
What do you think about this (would simply need to be mirrored to work in our current layout):
![startup-photos-largesf](https://cloud.githubusercontent.com/assets/925062/19444772/21acb2de-9492-11e6-9a72-e83d5b7ad03f.jpg)
https://www.pexels.com/photo/working-woman-technology-computer-7374/

or this:
![startup-photos-larges](https://cloud.githubusercontent.com/assets/925062/19444770/21a6fdc6-9492-1

[2016-10-17 18:00] Alixerid commented on #82
As to the first question by @jospoortvliet: The nextcloud news app does not process the nextcloud feed currently due to this issue. (That's kind of ironic.)

The stuff after the closing `</rss>` is probably added automatically. It is the piwik tracker code and some other links that would occur on any other "real" webpage of nextcloud.com. Can this automatic adding be avoided by an exception rule?

[2016-10-18 10:56] Espina2 commented on #197
I will test it as soon as I can, and I will post here how it looks. Thanks :)

[2016-10-18 11:17] jospoortvliet commented on #193
The website does all the minification and compilation automatically, yes, that's why the checkboxes for those items are there. But we load some stuff in the header, not lower on the page. Not sure if we have to...

[2016-10-18 11:18] jospoortvliet commented on #194
Agreed with Jan, the download should stay that way. We could make the background white, too, text blue or dark gray but I like the current look. I do notice that the white outline is much smaller than it used to be, it was a few pixels wide, now it is very thin.

[2016-10-18 15:03] nickvergessen opened #204 "Blog RSS invalid XML"
See https://github.com/nextcloud/server/issues/1783

[2016-10-18 16:19] jospoortvliet commented on #204
This keeps happening and I have no idea what to do with it :dagger:

[2016-10-18 16:22] LukasReschke commented on #204
Me neither ⚔

[2016-10-18 18:45] Espina2 commented on #194
If you guys say that download should be a call to action, yes they should have that style.

[2016-10-18 19:36] nickvergessen commented on #204
Well, you can try to nuke 💣 it

[2016-10-18 19:49] Espina2 commented on #193
Yup we need that. But If are better we can download all the files and include them in the "main.js".
The same can be done with the css fonts I guess.

I'm not expert in this area maybe anyone with more knowledge can advice better.

[2016-10-18 19:56] Espina2 opened #208 "All the buttons have a different arrow"
![screen shot 2016-10-18 at 20 41 57](https://cloud.githubusercontent.com/assets/11150206/19494075/4aa1b1ec-9575-11e6-92a0-f37322d3bc9a.png)

This arrow is weird? What happens to the previous one?

[2016-10-19 12:05] groentebroer commented on #204
Maybe too obvious, but it seems the website footer is loaded below the XML.

[2016-10-19 13:24] Revertron commented on #204
Well, you can try to enclose html in CDATA construct.

[2016-10-19 13:35] oparoz commented on #197
The first one works well, the 2nd one shows geek content and the 3rd one is too consumer oriented.
Looking forward to seeing more examples :)

[2016-10-19 13:44] jancborchardt commented on #197
@oparoz that’s what I thought too, the first one works best.

[2016-10-19 13:51] oparoz opened #210 "Fix looks of Enterprise page"
There are a few problems with that new Enterprise page.

# Empty content when landing

<img width="926" alt="empty_landing" src="https://cloud.githubusercontent.com/assets/323220/19520878/fb34b396-9611-11e6-9348-fece4c7131d2.png">

# Too much white space

Looking at the above picture and looking at what a competitor who likes large headers is doing. They're still using a shorter image.

<img width

[2016-10-19 14:16] Espina2 commented on #210
The empty content its because it only appear when you scroll down. You can have some javascript code that automatically add a visible class when the initial content is on the viewport.

For to much white space I dont agree with you at all, for a default and more commom resolution 1366x768 you have the above screenshot. Where you clearly can identify that you have more content below without have a

[2016-10-19 14:17] skjnldsv commented on #210
What about merged column for functionalities that are used on multiple solutions?

[2016-10-19 14:25] oparoz commented on #210
I'm a bit worried that it would make for very wide columns.

[2016-10-19 14:29] Espina2 commented on #210
We should not do that, this doesnt work in mobile or smaller screens

[2016-10-19 14:32] Espina2 commented on #210
@oparoz

Just look at your examples in mobile or smaller screens. They dont give any information. They are good examples for desktop but not good examples for mobile.

![screen shot 2016-10-19 at 15 30 51](https://cloud.githubusercontent.com/assets/11150206/19522999/1070f4d2-9611-11e6-89ba-e5ef1f2752b6.png)
![screen shot 2016-10-19 at 15 30 53](https://cloud.githubusercontent.com/assets/11150206/1

[2016-10-19 16:01] oparoz commented on #210
@Espina2  I did see that. They treat mobile as a second rate citizen and I do prefer the way our page looks on mobile, just not the desktop version.

[2016-10-20 13:56] #197 closed

[2016-10-21 09:16] Espina2 opened #215 "Box Layout"
So I almost finish to design the box layout page but I need to get some opinions and ideias from you guys. Still need to design icons for list inside the Technology.

@nextcloud/designers @jospoortvliet

![box](https://cloud.githubusercontent.com/assets/11150206/19593149/07794660-9777-11e6-92ce-c6039f92f277.jpg)

[2016-10-21 10:10] jancborchardt commented on #215
Looking good! What’s that blue circle right next to the »Bring your data home« heading?

Apart from that just some wording stuff I guess @jospoortvliet wants to take a look at. :)

Maybe a more fitting slogan would be: »A safe home for all your data. In your home.« to play on our main slogan.

[2016-10-21 10:23] Espina2 commented on #215
The little dot is from the logo and I have it in the others page's to. Its only a graphical element, but It can be remove.

[2016-10-21 10:27] Espina2 commented on #215
I need copy for the text after How to box. But I think all in here is not hard to do in code, I have this in mind when design.

[2016-10-21 13:22] MorrisJobke commented on #215
Awesome 🙌 I like it ❤️

[2016-10-21 15:20] jancborchardt commented on #215
Yeah, that would be cool. It looks a bit strange, as if it’s clickable or serves a purpose.

»The Nextcloud Box is very easy to assemble. It comes with all necessary screws and a screwdriver. The lid uses magnets (magic!) so you can quickly open and close it.« :)

[2016-10-22 17:16] Espina2 commented on #208
@jospoortvliet @LukasReschke

[2016-10-22 19:38] B5r1oJ0A9G opened #225 "Hyper-link "bug trackers" on support page is broken"
The target of the hyper-link behind "bug trackers" on the support page dos not exist (https://nextcloud.com/support/):

https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md#submitting-issues

[2016-10-22 22:14] Espina2 opened #226 "Naming files broke git"
Please dont give the same name only changing the uppercase to different files since it broken git on mac and windows systems.

![screen shot 2016-10-22 at 23 09 32](https://cloud.githubusercontent.com/assets/11150206/19622874/a29879d2-98ac-11e6-83bf-6f287c9112d8.png)

This article below shows why it happens.

http://blog.endpoint.com/2016/01/file-names-same-except-for.html

![image](https://cloud.

[2016-10-23 12:22] Espina2 commented on #226
@telmaantunes fixed here https://github.com/nextcloud/nextcloud.com/pull/228 using my account, and merged.

[2016-10-23 18:30] adsworth opened #232 "link to design page on the Get Involved (contribute) page is broken"
Hi,
the link to the design page is broken.

https://github.com/nextcloud/nextcloud.com/blob/master/page-contribute.php#L52

No idea how to fix it, since I can't actually find the correct URL for the design page, otherwise this would have been be a PR.

[2016-10-24 09:12] jospoortvliet commented on #232
Ah, my mistake, thanks for spotting: the page exists, I even recently updated it, it just wasn't published. Good now, see https://nextcloud.com/design

[2016-10-24 09:12] #232 closed

[2016-10-24 09:14] jospoortvliet commented on #226
Ah, I'll try to avoid this, but in general - use a proper operating system or filesystem, sjees ;-)

[2016-10-24 09:14] #226 closed

[2016-10-24 09:16] #225 closed

[2016-10-24 09:18] jospoortvliet commented on #208
what? This was on the main page initially and due to some css change (no clue who did it, the fun of including css files through dependencies) is now on every page. I think it looks ok but what is your question?

[2016-10-24 09:19] telmaantunes commented on #226
Or a proper naming convention... :) 2 files with the same name (only changing the camel case) it's never a good idea. A good convention for images is to use some-example.png

[2016-10-24 09:20] jospoortvliet commented on #210
I'd be happy to have this fixed but I would rate it a very minor issue, to be honest. We have far more pressing issues, like redesigning the rest of the website... which is still in the old look. Eg our Security page or the Features pages or...

[2016-10-24 09:21] Espina2 commented on #210
We can start with the blog page and article page that I already designed to.

[2016-10-24 09:21] jospoortvliet commented on #193
Yeah, that is what the old site did and it requires compiling stuff if you make changes, breaking the git workflow completely.

What we should do is to get rid of all the javascript in the head, put it in the footer. It is delaying the loading of the page and hurting us on Google (which punishes pages for that kind of stuff).

Also, we have to fix the website to make sure it works without javascri

[2016-10-24 09:32] #195 closed

[2016-10-24 10:09] Espina2 commented on #193
We should not do that at all. The javascript files if make that it only download the javascript files after download all the HTML stuff and it will slows down instead of speed it up.

For example in you page of secure the buttons doesn't work after you load all the page it slows it down.

![screen shot 2016-10-24 at 11 03 45](https://cloud.githubusercontent.com/assets/11150206/19641662/916ee230-99

[2016-10-24 10:15] Espina2 commented on #208
![screen shot 2016-10-24 at 11 11 15](https://cloud.githubusercontent.com/assets/11150206/19641889/997d8dcc-99da-11e6-8f3c-4a0896da013d.png)

This should be the default arrow. The problem here is not the css is the file is modified an replaced because of that. I think its when you optimize img that this are changed. The svg file is below

[arrow-right.svg.zip](https://github.com/nextcloud/nextclou

[2016-10-24 11:49] LukasReschke commented on #208
No. This is due to some strange image optimisation tool that somebody ran so we can save amazeball 23kb or so … Because that is exactly what will make our website faster ;)

You broke it with your image optimization tool. See https://github.com/nextcloud/nextcloud.com/commits/32806526260eaed08f77fe6674114dee151e6c23/assets/img/arrow_right.svg for the before / after and then afterwards some other r

[2016-10-28 16:54] Crizz0 opened #245 "PHP-code as clear text on feature page"
URL: https://nextcloud.com/features/

There is a lost `');?>` on the feature page, directly under the list for "The Calendar and Contacts app feature:".

![nextcloud-features](https://cloud.githubusercontent.com/assets/1311778/19814761/fc7b7430-9d3f-11e6-8a9b-567ecfc576eb.PNG)

[2016-10-28 17:25] Espina2 commented on #245
Thanks @Crizz0. I fixed here https://github.com/nextcloud/nextcloud.com/pull/246

[2016-10-28 17:25] #245 closed

[2016-10-29 10:28] Espina2 commented on #208
Fixed here, https://github.com/nextcloud/nextcloud.com/pull/247

[2016-10-29 10:28] #208 closed

[2016-10-29 10:28] Espina2 commented on #215
Done it

[2016-10-29 10:28] #215 closed

[2016-10-29 10:29] Espina2 commented on #178
It will be fixed automatically in this PR https://github.com/nextcloud/nextcloud.com/pull/227

[2016-10-29 10:29] #178 closed

[2016-10-29 10:30] Espina2 commented on #158
This is already fixed.

[2016-10-29 10:30] #158 closed

[2016-10-29 10:32] Espina2 commented on #157
@jancborchardt we should see if anyone can implement this. :)

[2016-10-29 10:32] Espina2 commented on #150
This is already fixed.

[2016-10-29 10:32] #150 closed

[2016-10-30 13:10] Espina2 opened #249 "Styleguide Nextcloud"
So I start design a styleguide with what I already have in the link below. https://cloud.paulomoura.com.pt/nextcloud-styleguide/#!introduction

The link is just updated to the block "Typography".

So I want to know where I can deploy this. Maybe a new repo?

And of course know what you guys think about this. This is really early on version so don't focus in my actual content.

@nextcloud/designers

[2016-10-30 14:16] enoch85 commented on #249
Really cool! What about the Documentation?

[2016-10-31 11:28] Espina2 commented on #249
@enoch85 what you mean?

[2016-10-31 12:43] enoch85 commented on #249
I mean that this could be a part of the Nextcloud Documentation maybe? @nextcloud/documentation

[2016-11-01 12:48] raghunayyar opened #251 "Broken Blog Images"
The blog is broken as of now, the images needs a max-width I think for a quick fix.

@nextcloud/designers @jospoortvliet

<img width="1246" alt="screen shot 2016-11-01 at 1 47 54 pm" src="https://cloud.githubusercontent.com/assets/992488/19890264/d13297fc-a039-11e6-889f-7f8cfd7f307c.png">

[2016-11-02 10:55] skjnldsv commented on #249
I'm interested in the form section of your guide.
I want to summarise the inputs on nextcloud to simplify it for the scss switch. Right now we have a lot of various stuff in inputs.css which could really be improved. Your guide isn't up-to-date right now, right?

[2016-11-02 11:13] Espina2 commented on #249
No this part is not updated. The ideia is to have this in a public nextcloud repo so all we can change and add things. The final ideia is to this platform compile a css file that we would use in our platforms, so we don't need to repeat all the style properties. Like if that are components, you only need to call them in the HTML and it looks the same.

This will make everything more easy and get s

[2016-11-02 11:17] Espina2 commented on #249
If you want to take a look this are in public repo.

https://github.com/Espina2/nextcloud-styleguide

You have the documentation right here. http://hugeinc.github.io/styleguide/start.html

Let me know if you need some help

[2016-11-02 14:23] jancborchardt commented on #249
@Espina2 so @eppfel is also doing a styleguide, can you please coordinate here? https://github.com/nextcloud/nextcloud.com/pull/140

Some feedback:
- the heading styles look a bit strange with the alternating regular and light. We should never use Regular because it has too little contrast to light. h1 should be light for sure, and we should only minimally go down to h4, ideally h3.
- Inputs shoul

[2016-11-02 15:54] jancborchardt commented on #251
@raghunayyar can you open a pull request to fix it? :)

[2016-11-02 16:42] Espina2 commented on #249
@jancborchardt this are only updated to the buttons section like I said. I will have the points you said in consideration, but you will able to change to. I just need that you guys create a repo for me deploy this. And everyone can contribute, with code and with design knowledge.

The page that @eppfel have is much more textual and conceptual, with links for previous discussions. For sure that we

[2016-11-04 11:09] #196 closed

[2016-11-04 11:24] eppfel commented on #249
Yes, different approach, but still we should coordinate this @Espina2. You wanted something like a brand guideline and more visual approach and it's part of the agenda in #140; so let's not work in parallel. The collection of discussions are also a lot of examples what we already do, just more focus on interaction, than on visual, so your input is needed. Feel free to add your thoughts, examples o

[2016-11-04 11:49] Espina2 commented on #249
@eppfel I want to stop having same things in different way. At this point I just start using a framework to make that happen. The "perfect solution" is to get throught all the components that we already have, see if have for the same thing two different solutions and think about what is the best solution. For example if do the illustrations with that style we should mantain that right? We should h

[2016-11-04 14:08] jancborchardt commented on #249
@Espina2 the open source way is also to collaborate – as you said you can’t do it alone (and you’re not the only person interested in this ;)

Your start using that framework looks good. @eppfel’s points from #140 should be in the same place, as should be the existing CSS guidelines https://docs.nextcloud.com/server/11/developer_manual/app/css.html

If we take the approach of starting with what we

[2016-11-04 18:36] eppfel commented on #249
@Espina2 I didn't get this example.

The idea behind #140 was to collect these examples every time they come up, so you don't have to search for them in thousand issues. But still, let's not argue, we can easily do both. Again feel free to add your stuff to the PR or include #140 in your work.

[2016-11-05 16:45] MariusBluem opened #253 "Links get grey on some pages"
![img_0236](https://cloud.githubusercontent.com/assets/19711361/20031887/5f8e83a6-a37f-11e6-8bbe-bc1f05177ee6.PNG)

Only on old pages when you scroll down (not on "Enterprise" and "Home") ... Tested with Safari ;)

@Espina2 @jospoortvliet

[2016-11-05 19:01] Espina2 commented on #253
@MariusBluem
This is weird, because javascript block the scroll. Did you use the the scroll bar or the mouse?

Anyway this will be fixed when the new Header are finished.

[2016-11-05 19:04] Espina2 commented on #167
I tried to start to code this but I can't figure out where is the code for this. Can anyone help?

[2016-11-06 20:57] benediktg opened #254 "Download links missing"
I think that there are missing links to the Nextcloud releases on this page: https://nextcloud.com/changelog/

![screenshot_20161106_215628](https://cloud.githubusercontent.com/assets/14795615/20041586/ee6f5e0a-a46b-11e6-87db-6e9fecdd8846.png)

Around the 9.0.54 there should be some in place…

[2016-11-06 21:01] MariusBluem commented on #254
You are right ... Before we've fixed this, https://download.nextcloud.com/server/releases/ is the place you should look for other releases as the current 😅 Thank you for reporting 👊

@jospoortvliet

[2016-11-07 16:44] jancborchardt commented on #167
@jospoortvliet probably knows? ^

[2016-11-08 03:07] krisman opened #255 "Error 404 when acessing Admin documentation from the install page"
When I go to https://nextcloud.com/install/ and click the "Admins" link under the "Read the documentation" section, I get a Page Not Found error.  The browser URL box shows:

https://nextcloud.com/install/<?php echo $DOCUMENTATION_ADMIN; ?>

Which looks to me like it failed to identify the above as a valid php code?  I don't do php, so I'm clueless.

I've got Firefox 47.0.1 here, with noScript 2.9

[2016-11-08 03:10] krisman commented on #255
Oh, if I go to that page footer and click the 'Admin Manual' link under the 'Resources' section, it gets me to:
https://docs.nextcloud.com/server/10/admin_manual/

Which works great for me and has the information I was looking for.

[2016-11-08 05:33] MariusBluem commented on #255
All documentation links are not working 🙈 Thank you for reporting 😅

[2016-11-08 09:34] strk opened #258 "Confusing link to android client"
In https://nextcloud.com/install/#install-clients, under mobile apps, it looks like the apps are in `beta` state, while I've been told in IRC (#nextcloud-dev, by nickvergessen) that it's actually 2 distinct links, to the stable version and to the beta version. This isn't clear from the UI.

[2016-11-08 09:35] strk opened #259 "Strong directory permission script mismatches instructions"
This page:
https://docs.nextcloud.com/server/10/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions

it says to make webserver user own `config/` `data/` and `apps/` but then the script also grant ownership of `assets` and `themes`  and `updater` (and the assets/ directory doesn't even exist)

Which of the two is correct and which is wrong ?

[2016-11-11 10:10] Espina2 opened #262 "asynchronous Javascript"
So right now if you acess to our website throught slow internet connections you can have a problem. You download first and execute a javascript file that depends on another that is not downloaded yet. What can result in a break website. The only solution that I know and that @LukasReschke suggest to is to use require.js.

Anyone can use with this "migration"?
@nextcloud/designers @nextcloud/javasc

[2016-11-11 10:12] Espina2 opened #263 "Remove all mobile Popups"

[2016-11-11 10:21] Espina2 opened #264 "Remove all mobile Popups"
In mobile is not a good pratice to use popups for example if you are scrolling down in a popup you scroll down the page itself to.

![wp_ss_20161111_0001](https://cloud.githubusercontent.com/assets/11150206/20211752/d7327f9e-a7f7-11e6-87fa-cb1b9b5e52e7.jpg)

What I suggest it to transform that in overlay that cover the whole screen. Put the selectors on top for more easy change of tab, and remove

[2016-11-11 20:07] MariusBluem opened #267 "Consider about making the Download button in Header a bit smaller"
I think this button is a bit oversized and its edges are too near at the Demo button 😁 What do you guys think? @nextcloud/designers

<img width="253" alt="dl_button" src="https://cloud.githubusercontent.com/assets/19711361/20228701/d3fbbc9a-a852-11e6-9f34-b7b8b12ff572.png">

cc @Espina2 @jospoortvliet

[2016-11-11 20:09] Espina2 commented on #267
This Header is going to be replaced by a new home.

https://github.com/nextcloud/nextcloud.com/pull/227

Also I'm checking all the buttons since I made them all a bit oversized, so it will be fixed in another PR.

[2016-11-11 20:09] #267 closed

[2016-11-11 20:33] MariusBluem commented on #267
Didn't know that this is already fixed with that 😅 THX!!!

[2016-11-12 22:53] mjobst-necls commented on #262
Usually require.js should not be required if
- all necessary js files are included by the html file in the correct order
- the _business logic_ is within a `$(document).ready(function() {code} );` block to ensure all scripts are loaded before execution

[2016-11-13 20:09] Espina2 commented on #262
Oh thanks, after reading your comment I read more about the asynchronous javascript and in the end, and I think this will solve the problem. Require.js can make a lot more than this, and it will improve performance in general, since you only download the javascript you need for each page, etc, etc.

[2016-11-14 11:18] jancborchardt commented on #157
Whoops, duplicate of https://github.com/nextcloud/nextcloud.com/issues/53 – let’s continue there ;)

[2016-11-14 11:18] #157 closed

[2016-11-14 11:33] Icantcodeatall opened #269 "Broken update RSS feed"
On the "News" page a link is given to a RSS feed containing only updates.
The URL is [https://nextcloud.com/category/release/feed/(https://nextcloud.com/category/release/feed/)

But the feed is "empty" and only return:

`<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http:/

[2016-11-15 20:40] #258 closed

[2016-11-18 00:43] jancborchardt commented on #264
Using a popup gives you a sense of place, and that’s for a reason. The real issue you mention above:

That should of course not happen. ;) And that’s what needs to be fixed.

[2016-11-18 09:44] jospoortvliet commented on #269
so I looked into it and I can't figure out how to fix this. It's a Wordpress bug, most likely, and other than waiting for an update fixing it I don't now what to do :(

[2016-11-18 09:50] Icantcodeatall commented on #269
I don't have this bug in my wordpress installations, probably a bug from a plugin or a customization.
I will try to find the bug this week.

Until the bug is fixed you could maybe use this URL : https://github.com/nextcloud/server/releases.atom ?

[2016-11-18 10:51] Icantcodeatall commented on #269
Are you sure that the release posts are in the good category ?

https://nextcloud.com/category/release/ return 404...

[2016-11-21 14:29] LukasReschke opened #271 "Remove support@nextcloud.com from legal notice"
@jospoortvliet Please remove the support@nextcloud.com address for https://nextcloud.com/impressum/. I don't care what address we use there but not that one ;-)

Also that gets actually customer inquiries. So that should go to something that is read. But ending it up in our support tracker is very suboptimal. This will file tickets that all subscribed engineers will receive 🙈

So we could setup a

[2016-11-21 14:30] LukasReschke commented on #271
Also other occurrences may need to be adjusted: https://github.com/nextcloud/nextcloud.com/search?utf8=%E2%9C%93&q=%22support%40nextcloud.com%22 ;-)

[2016-11-27 20:33] jospoortvliet commented on #271
@karlitschek what address should we use as general contact address?

[2016-11-27 20:35] jospoortvliet commented on #269
Yes, and it used to work :(

I will take the URL you gave, it ain't perfect but better than nothing.

[2016-11-27 20:38] jospoortvliet commented on #167
https://github.com/nextcloud/nextcloud.com/blob/master/page-news.php

[2016-11-27 20:41] jospoortvliet commented on #204
Look, I don't even know where the code that generates the RSS is located :(

[2016-11-27 20:44] jospoortvliet commented on #254
@LukasReschke is that page generated by some scripty thing or manually? If manually, I can fix this, if scripty scripty we should fix the script!

[2016-11-27 20:44] jospoortvliet commented on #251
Should be fixed now, if not - pls let me know if you see it again.

[2016-11-27 20:44] #251 closed

[2016-11-27 20:45] jospoortvliet commented on #255
They work now :+1:

[2016-11-27 20:45] #255 closed

[2016-11-27 20:47] jospoortvliet commented on #259
That I don't know, @LukasReschke does for sure.

But it's a documentation issue in any case, would you care to open this in the docu repo: https://github.com/nextcloud/documentation

Thanks!

[2016-11-27 20:47] #259 closed

[2016-11-28 08:48] karlitschek commented on #271
Let's not have an email address here. This just attracts spam and not suitable messages. The contact form should be enough.

[2016-11-28 11:51] Espina2 commented on #167
Can I make this dummy and after anyone integrate with php?

[2016-11-28 21:47] #194 closed

[2016-12-01 08:38] jancborchardt opened #282 "Wrong favicon shown"
Where is this favicon with text loaded from?
![capture du 2016-12-01 09-35-59](https://cloud.githubusercontent.com/assets/925062/20786985/d1eff23e-b7a9-11e6-9b79-349eb4fe849c.png)
Makes little sense since the text isn’t legible and just makes the logo look non-centered and smaller.

It’s strange since https://github.com/nextcloud/nextcloud.com/tree/master/assets/img/common has the correct favicon.

[2016-12-01 09:59] Espina2 commented on #282
This not make any sense at all. Do you have the same bug on master?

[2016-12-01 10:13] LukasReschke commented on #282
Well:

[2016-12-01 11:05] Espina2 commented on #282
If you look for the files in the master you see this fav.icon doesn't exist. I think problem come for an optimization to the images make a month or two ago.

![screenshot_20161201_110339](https://cloud.githubusercontent.com/assets/11150206/20791639/e426d740-b7b5-11e6-8d24-623fdc08a218.png)

[2016-12-02 12:58] jancborchardt commented on #282
It’s on the actual website https://nextcloud.com – same in Chrome:

![capture du 2016-12-02 13-57-37](https://cloud.githubusercontent.com/assets/925062/20834790/5ade2e6a-b897-11e6-93e9-ec9116db9f73.png)
(Left the website, right the docs, different subdomain)

[2016-12-03 20:53] jospoortvliet commented on #282
Ha! Turns out, the favicon is set in wordpress. All those icons I've put EVERYWHERE in our Nextcloud site - none do anything ;-)

I've fixed it. All good now!

[2016-12-03 20:53] #282 closed

[2016-12-03 20:55] jospoortvliet commented on #167
You can, I can give it a try... ;-)

I would suggest not to use our typical huge hero image, but a smaller one. I think it is nice to go directly to content on a news page. Just a suggestion...

[2016-12-03 21:03] jospoortvliet commented on #253
new header in, should be fixed!

[2016-12-03 21:03] #253 closed

[2016-12-03 21:09] jospoortvliet commented on #145
so we have to fix this, yes. Sadly the code is entirely different - it can be found here: https://github.com/nextcloud/documentation/tree/master/_shared_assets/themes/nextcloud_release

I will have to update this as we've just introduced a new drop-down menu header which is quite nice and pretty but simply not available on the documentation site.

[2016-12-03 21:13] jospoortvliet commented on #226
@telmaantunes tsss, it is far easier for me to demand that the world adjusts to me than the other way around. ;-)

but yes, you're right, I have to be more disciplined. @Espina2 is teaching me!

[2016-12-03 21:18] MariusBluem commented on #271
According to german law we must provide 2 ways to contact the provider of the webpage. In general, providers run into problems because they don't want to provide a phone number ... in our case the opposite is the case 😅 We have the phone number, which is great 💪

Especially §5 TMG (2)

For that, I think we should provide _at least_ a contact form (or link to the existing one on the Enterprise page

[2016-12-03 21:18] jospoortvliet commented on #82
I simply don't know where or how the RSS is generated... It isn't Wordpress as that stopped working completely a while ago anyway - the release feed is fscked up. This is done by, well, only the gods know, and with gods I mean @LukasReschke 😈

[2016-12-03 21:18] jospoortvliet commented on #190
I still appreciate the report!

[2016-12-03 21:19] jospoortvliet commented on #85
I'm afraid to summon @LukasReschke because some day he's going to tell me where this code lives and how to fix it... and then I'm on the hook.

[2016-12-03 21:20] MariusBluem commented on #271
https://github.com/nextcloud/nextcloud.com/commit/750002f6b38baeef35c64e18e7feae9cd2d484be removed the email without replacement (contact form) 😢

[2016-12-03 21:25] Espina2 commented on #167
@jospoortvliet the news have a different look. Look here https://github.com/nextcloud/nextcloud.com/issues/164

[2016-12-03 21:27] Espina2 commented on #145
This should be easy right?

[2016-12-03 21:52] jospoortvliet commented on #156
Ok, so I'd be happy to remove it but... I... don't... know... how! Yes, I looked 😢

I can configure the captcha in the settings (bottom of page) but there's no obvious 'disable' button or something....

[2016-12-03 21:52] jospoortvliet commented on #176
I'd love to add avatars but no clue how, sorry.

[2016-12-03 21:53] LukasReschke commented on #156
Nicht verzagen, @lukasreschke fragen 😉

[2016-12-03 21:53] jospoortvliet commented on #145
It isn't hard, it is stand-alone code. But you have to set up the documentation, install sphinx and all that - to test it. It just takes time which, at the moment, I don't have - I want to clean the rest of my 1200 notifications in github and the forums and I have to review a doc and write some blogs and... ;-)

[2016-12-03 21:55] jospoortvliet commented on #164
I think it looks great but I wouldn't know where to start to make it this way :(

[2016-12-03 21:56] LukasReschke commented on #156
@jospoortvliet I removed the captcha related code.

[2016-12-03 21:57] jospoortvliet commented on #167
ah so wrong location, we need to know how an individual post is made up. Well, pfff, I really have no idea...

Possibly content.php - you can make changes, we can test on staging with a link like https://nextcloud.com/blog/second-nextcloud-11-beta-available/?staging=true

[2016-12-03 22:00] #271 closed

[2016-12-03 22:15] LukasReschke commented on #85
And @LukasReschke is afraid to tell you that this will stay like that until we either have someone that has time for this or migrate to something debuggable instead of Wordpress 🚀

[2016-12-03 22:17] LukasReschke commented on #254
Manually ;)

[2016-12-03 22:21] LukasReschke commented on #82
Well. The blogfeed RSS? That one is generated by https://github.com/contribook/main. The author thingy you can likely patch by looking in the DB for the "Nextcloud" entry (https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnextcloud.com%2Fblogfeed#l17). The other errors that w3 points out we can't fix.

Comment at the end I suppose https://www.dylanbarlett.com/2014/01/disabling-w3-total-cac

[2016-12-04 08:49] MariusBluem commented on #271
THX 👍

[2016-12-05 12:35] jancborchardt commented on #156
@LukasReschke our new king :crown:

So we can close this? ;)

[2016-12-05 12:37] jancborchardt commented on #282
@jospoortvliet thanks :D

[2016-12-05 12:49] #156 closed

[2016-12-06 13:45] MorrisJobke opened #292 "Jobs page - clicking "account manager" redirects to install page"
* Chrome on macOS
* clicking the account manager heading I got redirected to the install page
* clicking all the other jobs they properly fold out

cc @Espina2 @jospoortvliet

[2016-12-06 13:49] MorrisJobke commented on #292
Maybe also try to double click ... It happens for me if I double click on mobile (maybe because the entry for "download" is on the same location when I click on the menu button - seems to be not properly hidden somehow)

[2016-12-06 13:51] MorrisJobke opened #293 "Jobs page - can't expand job entries on Safari (on iOS)"
* opening the jobs page
* try to open the job openings by clicking the header
* the description is not shown - noting happens

@Espina2 @LukasReschke Could you reproduce this?

cc @jospoortvliet

[2016-12-06 13:52] LukasReschke commented on #293
Broken here as well.

[2016-12-06 13:52] MorrisJobke commented on #293
Weirdly it works in the emulator inside Safari on macOS -.- (so no easy debugging)

[2016-12-06 15:40] jospoortvliet commented on #292
argh yeah you can get random pages loaded. Must be indeed an issue with the new header javascript code not actually hiding the links completely enough. I sadly don't have even the beginnings of a clue on where to look to fix this. @Espina2 might have a pointer.

... and then looking into it more... Found a solution in CSS. Because that, at least, I can do :dagger:
https://github.com/nextcloud/next

[2016-12-06 15:46] Espina2 commented on #292
I already fix that in the cross-browser PR. And its because what @MorrisJobke said. I will fix this later. Anyway I test it live, and I don't have this bug. Can you please do a hard refresh to the page?

If it not works properly after hard refresh please let me know.

[2016-12-06 15:48] Espina2 commented on #293
They show but not open? @MorrisJobke

[2016-12-06 16:30] MorrisJobke commented on #293
Correct :/

[2016-12-06 16:37] MorrisJobke commented on #292
Tested and works after a hard refresh now 👍

[2016-12-06 16:37] #292 closed

[2016-12-06 16:39] Espina2 commented on #293
What handle this are bootstrap. Did you tried before the new Header? Did you already made a hard refresh here to?

[2016-12-06 16:43] MorrisJobke commented on #293
I have no idea how to do a hard refresh on iOS 🙈

[2016-12-06 18:26] Espina2 commented on #293
Private mode should make the work here. @MorrisJobke

[2016-12-07 09:53] timkrueger opened #295 "Dead link on Bugtracker pager"
There is a dead link on the [Bugtracker](https://docs.nextcloud.com/server/10/developer_manual/bugtracker/index.html) page.

The link to the **Client Repository** (https://github.com/nextcloud/client/issues) is not working.

[2016-12-07 14:55] jospoortvliet opened #297 "pages to fix since we added new style"
Some pages just don't look good, esp the text-heavy ones where H2 is used as a normal header for a paragraph - it is too big for that. Pages include:

- [ ] migration
- [ ]
- [ ]
- [ ]

[2016-12-07 14:56] jospoortvliet commented on #295
This is a documentation issue - would you be so kind to file it in https://github.com/nextcloud/documentation/issues ?

[2016-12-07 14:56] #295 closed

[2016-12-07 15:14] stefan-niedermann opened #298 "SASS (?) Error on /privacy"
![tmp_22787-screenshot_20161207-161148-1341344727](https://cloud.githubusercontent.com/assets/4741199/20973227/2647c49a-bc98-11e6-994b-426531ff7929.png)

CC @nextcloud/designers

[2016-12-07 16:12] jancborchardt commented on #298
cc @Espina2 can you check this out?

[2016-12-08 17:02] sandydo opened #300 "Background doesn't fit to window if it's too narrow"
When opening the home page of nextcloud.com on a smartphone there is some white space on the right border. The background doesn't fit to the window. The only thing which fits in the window is the "subscribe to newsletter" button.

The same happens when narrowing the browser window!

![screenshot_2016-12-08-10-19-33](https://cloud.githubusercontent.com/assets/5897058/21019243/033e8910-bd70-11e6-885

[2016-12-08 19:00] jospoortvliet commented on #300
Yeah, it is the newsletter button, it is too wide. Let me see if I can fix it, thanks!

[2016-12-08 19:05] jospoortvliet commented on #300
fixed, deployed. Thanks!

[2016-12-08 19:05] #300 closed

[2016-12-09 10:20] Espina2 commented on #298
I don't have this error. @stefan-niedermann can you do a hard refresh and try again please?

[2016-12-09 10:37] stefan-niedermann commented on #298
Fixed with hard refresh.

[2016-12-09 10:37] #298 closed

[2016-12-09 10:46] Espina2 commented on #297
Instead of using the h2 tag you can use the h3. I think it will fix all that three specific pages. Can you do that and post a print screen here?

[2016-12-09 10:50] Espina2 commented on #298
Nice, thanks for the report. :+1:

[2016-12-09 10:51] Espina2 commented on #293
@MorrisJobke you already make the test in private mode?

[2016-12-09 12:04] MorrisJobke commented on #293
Yes - same result - the text doesn't show up/doesn't expands

[2016-12-09 12:04] MorrisJobke commented on #293
I just retested again and still no change.

[2016-12-09 19:11] MariusBluem opened #302 "Add 10.0.2 and 9.0.55 to Changelog"
@MorrisJobke @LukasReschke @jospoortvliet

[2016-12-10 03:13] MariusBluem commented on #302
done by @jospoortvliet in https://github.com/nextcloud/nextcloud.com/commit/3851260da606c3bf64f3968bb7ff6953b97eb033

[2016-12-10 03:13] #302 closed

[2016-12-10 10:46] jospoortvliet commented on #293
sigh, we use standard bootstrap here, nothing special. I see no javascript errors in the console, all is good :sob:

[2016-12-10 10:55] jospoortvliet commented on #85
Right, also see https://github.com/nextcloud/nextcloud.com/issues/82#issuecomment-264669519

[2016-12-10 18:16] Espina2 commented on #293
I discover the bug, so I don't know why but here we instead of using the href id for toggle the content we are using the data attribute. So the problem is the bootstrap like I said.

You can see were that the first one works (the one I changed) and the others no.

https://cloud.paulomoura.com.pt/owncloud/index.php/s/NsDVufCzHzbX5UI

I will make a pull request to this and ask Jos to deploy, so you

[2016-12-10 18:47] Espina2 commented on #293
This should be fix here. https://github.com/nextcloud/nextcloud.com/pull/303

[2016-12-12 01:03] MorrisJobke commented on #293
Tested and works 👍

[2016-12-12 01:03] #293 closed

[2016-12-12 13:43] eppfel opened #305 "Redesign Nextcloud Logo Animation"
The current logo animation sparked my interest, because it is an awesome addition, but not that impressive, yet. Over the weekend I wanted to have some fun…

I redesigned the logo with the idea of using the geometry of the logo to tell a story. It starts with the center circle, because this resembles a loading animation and could be reused all over Nextcloud.
From this central element the complete

[2016-12-12 13:49] Espina2 commented on #305
At first glance, all of the animations look to mechanic. That you can resolve with proper easing (its because that I use an sprite). I didn't like the two first, they are to "fancy". I think you match the third one with the first (when it finish the load) is nice.

[2016-12-12 14:56] skjnldsv commented on #305
I like the 2nd :)

[2016-12-12 21:29] te-online commented on #305
Yeah, the logo animation doesn't look right at the moment 😉
I like the 2nd with some tiny bit more work on the timing. The third circle slides out too late and the text animation draws too much attention – in my opinion 😄
The first one has some weird jumps that kind of break the flow.

[2016-12-13 10:56] Espina2 commented on #305
@te-online
Can you clarify why doesn't look right what we have at the moment?

[2016-12-13 11:09] eppfel commented on #305
@Espina2 IMO, everything starts at the same time, which makes it a little bland (no "story"). And the effect is just drawing the lines for every object, which does not look like a design, but an effect. Also, the linear ending of the text written down, seems like it is to slow, because everything starts simultaneously, but does not end simultaneously.

@te-online Totally agree with your suggestion

[2016-12-13 11:23] Espina2 commented on #305
What you did don't have story too. Its an effect to. The animation that you have it doesn't come from one concept its pure animation.  So I will move away from this thread since I don't believe this are an actual improvement.

And if you want to make an awesome animation you should propose anything else, because either one is "awesome" they are just okey ish.

I believe in the same thing as @jancb

[2016-12-13 11:43] eppfel commented on #305
"Once there formed a cloud in the sky, but it was lonely so it made some friends. First one, then two, then three – a crowd! - called Nextcloud" 😀

@Espina2 Sad, to see you go, because I wanted to start a discussion about animations on/in nextcloud. I respond to your comment, still.

Totally, I think we are on the same page here. But more in the other thread.

That's why I wanted to change the cur

[2016-12-13 12:05] Espina2 commented on #305
Ahaha, I can think in something nice to say about growing lines and doesn't make that a concept :D. Its just the point I want to you understand. :)

Mechanic is something that looks weird to the eyes something that doesn't look the right illusion of movement. For instance we know that something that start fast it should be end slowly.

I'm not that great explaining, but if you have money and time

[2016-12-13 13:25] jancborchardt commented on #305
I agree with @Espina2 here – the current logo animation just has that extra bit of easing and natural movement to it to make it really feel smooth. And if we do animate our logo or anything, it should be as good as possible.

I’m not really partial to any specific animation flow, but these details make the current animation better. It has the rounded lines and the right finish.
And you know I’m ag

[2016-12-13 22:00] te-online commented on #305
@Espina2 Yeah, I'm sorry, I should have explained what I mean in the first place.

I incidentally visited the website for information, so I wasn't expecting anything nor wasn't explicitly looking out for the animation. Still, it caught a lot of my attention for a long time (until it finished animating). In a video intro you might want that effect, but on a website – this particular animation just

[2016-12-14 15:29] MariusBluem opened #311 "Consider about webrtc page"
**Features > Video chat** is currently promoting Spreed.ME, the docker-image and the Spreedbox.
We should think about that, since we have our cool new Spreed now ... 😉 Currently, this is very confusing for the most people 😁

https://nextcloud.com/webrtc/

@jospoortvliet @nickvergessen @Ivansss

[2016-12-14 15:41] MariusBluem commented on #254
They are there now -> Closing 😉

[2016-12-14 15:41] #254 closed

[2016-12-15 09:50] MariusBluem opened #314 "Fix Glitches"
The new header (which is awesome 🙌) introduced some gliches appearing on pages without redesign:

- Example: Scroll up if you are already on the top of a page

- Download page:
![bildschirmfoto 2016-12-15 um 10 46 19](https://cloud.githubusercontent.com/assets/19711361/21219164/e4fb689e-c2b3-11e6-9f0f-f135ad35beae.png)

@Espina2 @jospoortvliet

[2016-12-15 16:16] Espina2 commented on #314
Please add the pages you with glitches here. I will close this issue for more easy tracking.

https://github.com/nextcloud/nextcloud.com/issues/297

[2016-12-15 16:16] #314 closed

[2016-12-15 16:27] Espina2 commented on #305
First, thanks I'm glad that you like the improvements on the website, you are welcome to make some improvements to.

Second,
I think somehow we are confusing communication design with art somehow. The logo serve a purpose identify a brand, not giving you what a painting will give. It have a concept behing of course, but the only job is to make you recognize the brand.

So lets no going for the phi

[2016-12-15 20:02] MariusBluem commented on #297
...and nearly every other page if you scroll up if you already are on top (on "old" pages) 😁

[2016-12-15 20:06] Espina2 commented on #297
Put them all here. :)

[2016-12-16 08:34] MariusBluem opened #316 "Page Header Image missing"
https://nextcloud.com/secure/ has an missing image in the header. Deployment bug?:

![bildschirmfoto 2016-12-16 um 09 32 56](https://cloud.githubusercontent.com/assets/19711361/21256462/c1d95302-c372-11e6-96f4-24f03feeda51.png)

@jospoortvliet

[2016-12-16 08:41] MariusBluem commented on #297
added all the pages 😁 ... privacy is still not fixed for me 😜

[2016-12-16 08:43] MariusBluem opened #317 "Replace "Follow us"-Footer with icons"
In the footer we are linking to Google+, Facebook, Twitter and RSS. We should use Icons instead of text there 😉

@Espina2 @jospoortvliet

[2016-12-16 08:47] MariusBluem opened #318 "Different footers on homepage and other pages"
The footers on the pages are different. On the homepage, it looks like this:

![bildschirmfoto 2016-12-16 um 09 45 26](https://cloud.githubusercontent.com/assets/19711361/21256763/7fd3d822-c374-11e6-99aa-8dffdb1d2424.png)

...on all other pages it looks like I think it should 😁:

![bildschirmfoto 2016-12-16 um 09 45 30](https://cloud.githubusercontent.com/assets/19711361/21256783/98f1c896-c374-11e

[2016-12-16 15:07] Espina2 commented on #317
Why?

[2016-12-16 20:23] te-online commented on #305
@Espina2 Okay, maybe my text got a bit philosophical, but that's my perspective on designing a logo animation. It has little to do with art – however, note that this kind of task if often referred to as “Art Direction“ (a good read: http://alistapart.com/article/art-direction-and-design#section2).

I'd love to, but I have like 30 minutes a week to catch up on all the stuff that is happening in nex

[2016-12-16 21:14] Espina2 commented on #305
I studied Digital Art Direction, and I am currently a Digital Art Director so I really believe that this doesn't have nothing about to art. You can debate and have different opinion  There is one guy called John Maeda that explains this very well "Art is about making questions, design is about making solutions".

This article explain some things, but if put design is not art in google you are goin

[2016-12-19 13:26] MariusBluem commented on #316
Seems to be fixed now ...

[2016-12-19 13:26] #316 closed

[2017-01-02 13:46] jospoortvliet opened #327 "fix 'nextcloud 10' mentions on home page and footer"
The footer still links to Nc10. Should be updated using the variable for that, like used on pages like our install page.

The front page has a feature overview with Nc10 features - should be updated to 11 with info and screenshots from announcement.

[2017-01-02 15:23] MariusBluem commented on #327
#329 fixes this for now - without variables - with Nextcloud 12 we should do this either 😉

This does not work - or am I wrong. So nobody can see it 😅 @jospoortvliet

[2017-01-02 15:25] jospoortvliet commented on #311
yeah, this needs to be rewritten. I'd like to keep the current page somewhere, or at least the manual/how-to, but this page should be about the new app I suppose. Also a call for @karlitschek  - is the new spreed 'ready' to be the standard? If so, the blog by @Ivansss can be used as a base - https://nextcloud.com/?p=1399

[2017-01-02 16:27] karlitschek commented on #311
We should switch over to the new Nc11 Spreed app. It is good enough for most users

[2017-01-06 13:54] #327 closed

[2017-01-09 03:45] chriswells0 opened #334 "Broken link to RSS feed for security advisories"
This page has a link to an RSS feed for security advisories:

https://nextcloud.com/security/advisories/

It currently links to:

https://nextcloud.com/advisories/advisories.rss

I found a URL that works, but I don't know if it's an old feed or a URL you'd prefer not to use:

https://nextcloud.com/wp-content/themes/next/advisories/advisories.rss

[2017-01-10 17:00] jospoortvliet commented on #318
yeah, it's probably a bug in the CSS that makes it look different on the home page. If you can track it down, that would be awesome :D

[2017-01-10 17:31] MariusBluem commented on #318
also happening on all other "new" pages: e.g. https://nextcloud.com/secure/

[2017-01-10 17:38] MariusBluem opened #337 "Migration: Quote is not shown correctly"
**Safari** (incorrect):
![bildschirmfoto 2017-01-10 um 18 36 44](https://cloud.githubusercontent.com/assets/19711361/21817329/dc86f8ee-d763-11e6-906d-c554746e0ee7.png)

**Chromium** (correct):
![bildschirmfoto 2017-01-10 um 18 35 53](https://cloud.githubusercontent.com/assets/19711361/21817311/cf43fa7e-d763-11e6-9688-308d30d3ceb8.png)

@jospoortvliet

[2017-01-10 18:34] Espina2 commented on #318
I see it everywhere! Where you see the correct version?

[2017-01-10 20:27] MariusBluem commented on #318
https://nextcloud.com/install/ 😁 @Espina2

[2017-01-11 08:58] Espina2 commented on #318
We already fix that. :)

[2017-01-11 18:16] jospoortvliet commented on #210
So we're thinking about changing the table to work like this one:
http://bootsnipp.com/snippets/featured/responsive-pricing-table

It works both on big screens and on mobile devices.

[2017-01-11 18:30] jospoortvliet opened #339 "put css separately for each page"
Right now, we import all page-specific scss files into custom.scss.

We should, instead, just import the right css on top of the page. This avoids conflicts and makes sure we don't get a MASSIVE custom.css file.

[2017-01-16 14:15] MariusBluem opened #341 "Install: Extend your Cloud"
@jospoortvliet merge commit has broken #338 😒😅
<img width="1194" alt="bildschirmfoto 2017-01-16 um 15 13 41" src="https://cloud.githubusercontent.com/assets/19711361/21986145/914ea350-dbfe-11e6-99ed-71ba22dc6a07.png">

[2017-01-16 14:16] MariusBluem commented on #337
works now 😉

[2017-01-16 14:16] #337 closed

[2017-01-17 10:25] Espina2 commented on #249
@nextcloud/designers  this is dead? :p

[2017-01-17 12:33] jancborchardt opened #343 "Navigation doesn’t have background on mobile"
On mobile, opening the navigation results in this:
![capture du 2017-01-17 13-30-18](https://cloud.githubusercontent.com/assets/925062/22020582/557e328a-dcb9-11e6-91e5-3c51cc59fe77.png)

[2017-01-17 12:34] jancborchardt opened #344 "Some navigation entries can’t be reached on mobile"
With a smaller screen (Moto G here), some of the lower subnavigation entries can’t be reached because the navigation can not be scrolled when open. We should simply make it possible to scroll it when it extends the viewport.

[2017-01-17 12:35] jancborchardt opened #345 "Important call to actions of Enterprise & Pricing page not reachable on mobile"
This whole bar on the Enterprise & Pricing pages:
![capture du 2017-01-17 13-30-03](https://cloud.githubusercontent.com/assets/925062/22020661/b7c2a6ce-dcb9-11e6-9613-8173c02eb55b.png)

Is not there on mobile at all. Can we place it like it is on the desktop, having it sticky at the top? cc @nextcloud/website

[2017-01-17 12:36] jancborchardt opened #346 "Capitalization of call-to-action bar on Pricing & Enterprise pages"
This whole bar uses all-caps:
![capture du 2017-01-17 13-30-03](https://cloud.githubusercontent.com/assets/925062/22020682/dfb6cb92-dcb9-11e6-8548-23e2f9457353.png)

As talked about before, we never ever do that. It looks ugly, is not very legible, you can’t discern where one entry on the left ends and the other one begins, and it seems as if we are screaming at people.

We always only capitalize

[2017-01-17 12:40] jancborchardt opened #347 "Fade on top of website?"
I just noticed this on the top of the website:
![capture du 2017-01-17 13-31-42](https://cloud.githubusercontent.com/assets/925062/22020747/365ef334-dcba-11e6-96b5-f22baca2d754.png)

It looks very strange, especially since everything else is plain color. What was the reason for adding this? cc @nextcloud/designers

[2017-01-17 12:41] jancborchardt opened #348 "Animation of logo a bit often"
So the animation of the logo is nice, but doing it on every single page change _and_ on hovering it is a bit much. Can we do it so it only happens once? cc @Espina2 @nextcloud/designers otherwise the effect becomes more annoying instead of a nice detail :\

[2017-01-17 13:02] jancborchardt opened #350 "css.orig files?"
Are these files like custom.css.orig and custom.scss.orig still needed, or just leftovers? They even have merge conflict traces in them, like:
[code]

Seems like we should delete them? @nextcloud/website

[2017-01-17 13:04] MariusBluem commented on #348
Maybe by just doing it for the homepage 🤔

[2017-01-17 13:07] MariusBluem commented on #347
Which browser are you using 😁 @jancborchardt

[2017-01-17 13:08] skjnldsv commented on #347
netscape@windowsNT! 😆

[2017-01-17 13:23] jancborchardt commented on #347
Happens both in Chrome and Firefox on Ubuntu. Likely with the last deploy, so clear your cache or test with an incognito window. ;)

[2017-01-17 13:23] jancborchardt commented on #348
Then it doesn’t happen for deeplinks. I like the animation, just not when it happens _all_ the time. :)

[2017-01-17 13:28] jancborchardt commented on #249
Well we have some people working on separate things, so if we focus on one approach that would be pretty awesome. ;)

For example, I talked with @skjnldsv that we should add the new stuff like 3-dot-menu and such to the CSS page at https://docs.nextcloud.com/server/11/developer_manual/app/css.html

Then our UX / design guidelines from https://docs.nextcloud.com/server/11/developer_manual/general/c

[2017-01-17 13:29] skjnldsv commented on #249
Yep, I'm working on finishing implementing all of this, then updating the dev manual :)

[2017-01-17 13:36] MariusBluem commented on #347
Ah... Call me stupid ... But isn't this more a feature than a bug 😜😅

[2017-01-17 13:55] Espina2 commented on #347
Its a missplaced code. I will fix that in a minute.

[2017-01-17 13:58] Espina2 commented on #348
At the moment there is no way to just do it one time.

[2017-01-17 13:58] Espina2 commented on #350
it should be erased

[2017-01-17 14:02] skjnldsv commented on #348
Use a second svg?

[2017-01-17 14:04] skjnldsv commented on #348
Hum, I just saw we're not using svg animation anymore.
You could just trigger the css animation with a class present only on the home screen?

[2017-01-17 14:09] Espina2 commented on #347
Fixed Here
https://github.com/nextcloud/nextcloud.com/pull/352

[2017-01-17 14:09] #347 closed

[2017-01-17 14:13] Espina2 commented on #346
Fixed here https://github.com/nextcloud/nextcloud.com/pull/352

[2017-01-17 14:13] #346 closed

[2017-01-17 14:15] Espina2 commented on #345
What you suggest? With all the information it have here it doesn't work on mobile.

[2017-01-17 14:17] Espina2 commented on #348
Make the thing just work for the homepage doesn't make any sense. I don't think its possible to make what you guys want using javascript, because any page it will load the script again. Maybe with some php magic...

[2017-01-17 14:19] Espina2 commented on #350
Fixed here https://github.com/nextcloud/nextcloud.com/pull/352

[2017-01-17 14:20] #350 closed

[2017-01-17 14:21] skjnldsv commented on #348
Well, that's what @jancborchardt was asking, or did I missed something?

[2017-01-17 14:22] Espina2 commented on #343
I don't see this error happening. Can you do a hard refresh and try again?

[2017-01-17 14:22] Espina2 commented on #344
This should be possible. Do a hard refresh and see if works

[2017-01-17 14:24] Espina2 commented on #348
And anyway its just seen to much because we see the website many times. That its not the case for 80% of our visits.

[2017-01-17 14:25] jancborchardt commented on #345
The left part is only the points which are listed below anyway, so it’s not that important on mobile. But the calls to action could be placed nicely between the header image and the first points, like so:
![capture du 2017-01-17 15-21-12](https://cloud.githubusercontent.com/assets/925062/22024114/2c1fdc80-dcc9-11e6-8af6-dea001c6e111.png)
What do you think?

[2017-01-17 14:29] Espina2 commented on #345
I think its more natural instead of having a double bar on top, push this to bottom and make it fix. I think its better. Anyway I will try.

[2017-01-17 14:30] jancborchardt commented on #346
@Espina2 if you mention `fix #issuenumber` in the pull request, the issue will automatically be closed once the pull request is merged :) Cause we only close issues once the fix has actually been merged.

[2017-01-17 14:31] Espina2 commented on #346
I didn't know that. Thanks. ;)

[2017-01-17 14:32] jancborchardt opened #355 "Image contrast on the /enterprise page makes text unreadable on mobile"
Check https://nextcloud.com/enterprise/
![capture du 2017-01-17 15-20-49](https://cloud.githubusercontent.com/assets/925062/22024363/0e17ec18-dcca-11e6-8749-83c2ce91587c.png)

@Espina2 maybe this can be fixed by just positioning the background differently, so the text is over the body instead of the window? Otherwise, overlaying it with dark, similar as on the pricing page might be good.

[2017-01-17 14:34] jancborchardt commented on #343
Yeah, did that already with both Firefox and Chrome, incognito window, hard cache refresh and all. @nextcloud/website can anyone of you reproduce too?

[2017-01-17 14:39] jancborchardt opened #356 "Horizontal scrollbar glitch on mobile"
See the scrollbar and overlapping box here:
![capture du 2017-01-17 15-36-05](https://cloud.githubusercontent.com/assets/925062/22024640/e5309b5a-dcca-11e6-9234-6bc5d57f165b.png)

This is caused by the `.jumbotron .toptext .announcement` box, and the rule `width: calc(100% + 20px * 2);`
which makes it wider than the viewport.

[2017-01-17 14:40] jancborchardt commented on #344
Tested again on mobile and also on a reduced size on desktop. Doesn’t scroll, and it didn’t ever do. Even with hard refresh, in case you deployed something just now.

[2017-01-17 14:42] jancborchardt commented on #348
I heard it from some friends who looked at the site briefly, that’s why I’m bringing it up. :)

[2017-01-17 14:45] jancborchardt commented on #345
@Espina2 yeah, that seems useful to get people into the funnel. How about we also style the »Pricing« (let’s cut the text) button as white, so the »Get a quote« button is the primary action?

[2017-01-17 14:51] MariusBluem commented on #343
Chrome working for me 😱

[2017-01-17 14:51] Espina2 commented on #345
Yup but we are going to switch the table of the Pricing page, and we can think on that we work on that.

[2017-01-17 14:54] Espina2 commented on #348
Anyway I think it still have more problematic things to put my time.

[2017-01-17 14:55] Espina2 commented on #343
It works here, even in edge mobile. :p

[2017-01-17 14:57] MorrisJobke opened #357 "Header of enterprise and pricing is white"
For me (even after a hard refresh) the header of pricing and enterprise is white:

![bildschirmfoto 2017-01-17 um 08 52 57](https://cloud.githubusercontent.com/assets/245432/22025381/fa54c610-dc92-11e6-8429-d20f074560a4.png)

cc @jospoortvliet @Espina2 @LukasReschke

[2017-01-17 14:58] Espina2 commented on #357
do a print screen of dev tool

[2017-01-17 14:58] MorrisJobke opened #358 "Unstyled elements on pricing page"
Some elements on the pricing page seem to be unstyled (even after a hard refresh):

![bildschirmfoto 2017-01-17 um 08 56 55](https://cloud.githubusercontent.com/assets/245432/22025404/13f28e90-dc93-11e6-88a2-6564ef485882.png)
![bildschirmfoto 2017-01-17 um 08 56 57](https://cloud.githubusercontent.com/assets/245432/22025405/13f58f96-dc93-11e6-832f-68afd99cd74b.png)

cc @jospoortvliet @Espina2 @Luk

[2017-01-17 14:59] Espina2 commented on #358
I know what it is.

[2017-01-17 15:07] Espina2 commented on #357
ITs fixed here to https://github.com/nextcloud/nextcloud.com/pull/359

[2017-01-17 15:20] jancborchardt commented on #348
Yup, of course, it’s not a priority. :)

[2017-01-17 15:55] #358 closed

[2017-01-17 16:08] MariusBluem commented on #341
Solved with #353

[2017-01-17 16:08] #341 closed

[2017-01-17 19:24] MorrisJobke commented on #357
It's fixed now 👍

[2017-01-17 19:24] #357 closed

[2017-01-17 19:51] schiessle opened #361 "menu not positioned in some situations"
See this screenshot:

![webpage](https://cloud.githubusercontent.com/assets/1589737/22037186/865e78c8-dcf6-11e6-8a6a-7c3503ec0982.png)

The second menu bar is not align to the top, so you see the content scrolling through between the top menu bar an the second menu bar.

I noticed it in this site: https://nextcloud.com/enterprise/

First everything works fine. The problem appears if you first scro

[2017-01-17 20:55] Espina2 commented on #361
Can you see if gives you any message at the console?

[2017-01-18 12:53] jospoortvliet commented on #311
Ok, I've put this on my (long) todo list...

[2017-01-18 13:16] rnalrd opened #364 "Nextcloud Desktop client availability"
Would you please add [here](https://nextcloud.com/install/#install-clients) _Alpine Linux_ as a distro where the desktop client is available?

http://pkgs.alpinelinux.org/packages?name=nextcloud-client

Thanks!

[2017-01-18 16:21] schiessle commented on #361
no error messages in the console

[2017-01-18 16:24] Espina2 commented on #361
I can't reproduce the problem...

[2017-01-18 23:20] jancborchardt opened #366 "Providers page broken"
`headroom is not defined`:
![capture du 2017-01-19 00-19-42](https://cloud.githubusercontent.com/assets/925062/22087219/0a34f6cc-dddd-11e6-8739-7213522cd7c0.png)

cc @nextcloud/website

[2017-01-19 12:56] eppfel commented on #249
We could just use nextcloud/nextcloud.com#140 to finish this or we close it and start fresh. I still think there is a strong need to discuss Nextcloud Design Principles, so we safe time on discussing particularities on future issues/redesign/changes. But now I believe, we need more then a PR / issue to do this. Maybe @jancborchardt and me could draft something @ FOSDEM and then we make a online vi

[2017-01-19 14:14] jancborchardt commented on #249
Good call! So @skjnldsv works on the CSS/HTML and then updating the dev manual. @eppfel and me will sit together at FOSDEM for the more higher-level guidelines and a first start of a nextcloud.com/design page. :)

[2017-01-19 14:20] Espina2 commented on #366
It will be fixed in the next deploy. It happens in the all older pages.

@jospoortvliet

[2017-01-19 14:47] skjnldsv commented on #249
I shall warn and remind you that I need to finish the scss implémentation first! 😉

[2017-01-19 20:23] Espina2 commented on #249
@eppfel @jancborchardt sounds like a plan. :)

[2017-01-22 11:08] claell opened #368 "Demo small captcha bug"
When accessing https://demo.nextcloud.com/ I just managed to press "Create Container" before the captcha has loaded. Then an infinite loop of "Status: Giving MySQL a kick . . . . . " etc. is started and nothing happens.

Normally when loading the site completely the button is deactivated until the captcha is solved. Unfortunately there seems to be a short time frame when loading the page where the

[2017-01-22 12:17] MariusBluem commented on #368
I had this issue too, some time ago 😅🙈

...should we move https://github.com/LukasReschke/nextcloud-demo-docker to `nextcloud` to have a seperate issue tracker for the demo? 🤔 @LukasReschke

[2017-01-23 12:01] MariusBluem commented on #361
I can 😅🙈

[2017-01-23 12:02] Espina2 commented on #361
What you did?

[2017-01-23 12:04] MariusBluem commented on #361
Tested with Safari 😁

[2017-01-23 13:31] MariusBluem commented on #318
Fixed 👍

[2017-01-23 13:31] #318 closed

[2017-01-23 13:34] Espina2 commented on #361
Works here. Can you give me more info?

![screen shot 2017-01-23 at 13 33 44](https://cloud.githubusercontent.com/assets/11150206/22205857/93cb9648-e170-11e6-92d8-1ef923a8b4d9.png)

[2017-01-23 13:44] MariusBluem commented on #361
Not really 😢 ... I know that I had this behavior these days - but currently not 🤔 Maybe it **is** already fixed?!

[2017-01-23 14:14] Espina2 commented on #361
@schiessle can you check if you still have this bug?

[2017-01-23 14:32] Espina2 commented on #249
Useful Reading and examples
http://designguidelines.co/index.html

[2017-01-23 14:34] Espina2 commented on #165
@jancborchardt
This is Still up?

[2017-01-23 15:50] MorrisJobke commented on #165
Sure :) better late than never :)

[2017-01-23 15:52] Espina2 commented on #165
I will write something. :)

[2017-01-23 21:53] jancborchardt commented on #366
Can you please deploy then @jospoortvliet?

[2017-01-24 12:29] jospoortvliet commented on #366
I did but sadly this isn't yet fixed. @Espina2 is working on it...

[2017-01-24 12:29] #364 closed

[2017-01-27 08:23] Bugsbane commented on #348
Seems to me like the sort of thing you just set a session cookie for, so it only shows for new sessions.

[2017-01-29 18:13] mario opened #378 "Mentions of NC10 on front-page"
Now that NC11 was released, shouldn't we update the page to talk about NC11 rather than 10?

[2017-01-30 10:49] jospoortvliet commented on #378
On it ;-)

[2017-01-30 11:08] #378 closed

[2017-01-30 12:26] MariusBluem commented on #160
As @tflidd said, you must include a country code :) Its explained in the field ... Closing here 😉
+49 000 0000000 or 0049 000 0000000 ... both ways working fine (also with other codes than 49 😜 )

[2017-01-30 12:26] #160 closed

[2017-01-30 12:27] MariusBluem commented on #62
Done ✊ https://nextcloud.com/changelog - with download links 👊

[2017-01-30 12:27] #62 closed

[2017-01-30 12:29] MariusBluem commented on #52
Done for a while. 👊

[2017-01-30 12:29] #52 closed

[2017-01-30 12:31] MariusBluem commented on #145
Issue in documentation --> https://github.com/nextcloud/documentation/issues/244
Would be nice if one of you two (@jospoortvliet or @Espina2) could fix this 😅

[2017-01-30 12:31] #145 closed

[2017-01-30 12:31] enoch85 commented on #52
Thanks, had forgot.

[2017-01-30 12:32] MariusBluem commented on #147
Page is now up and running with nice photos. Closing here 😉

[2017-01-30 12:32] #147 closed

[2017-01-30 12:35] MariusBluem commented on #153
We have it (now) 😜

<img width="1134" alt="bildschirmfoto 2017-01-30 um 13 34 19" src="https://cloud.githubusercontent.com/assets/19711361/22423243/fb63caf2-e6f0-11e6-8ffd-57829a8c1eb3.png">

[2017-01-30 12:35] #153 closed

[2017-01-30 12:37] MariusBluem commented on #135
I see that you are listed now, so the problem seems to be solved for you 😉 ...

<img width="426" alt="bildschirmfoto 2017-01-30 um 13 36 56" src="https://cloud.githubusercontent.com/assets/19711361/22423294/318186c4-e6f1-11e6-961f-99b0d1e08831.png">

[2017-01-30 12:37] #135 closed

[2017-01-30 14:43] pierreozoux commented on #135
Yes, sorry, forgot to close, thanks!

[2017-01-30 16:57] sandydo opened #382 "Unnatural jumping of page when scrolling."
Hey guys,

there is a problem with the head menu bar of the nextcloud site. It seems that only in the default position the menu bar realizes being above the page. When you start scrolling then it flips just behind the bar.

This means for example on the first page the words "Get Started" are only visible in the default position. If you start scrolling it jumps behind the menu bar.

Cheers,
Thomas

[2017-01-30 20:46] MariusBluem commented on #382
https://github.com/nextcloud/nextcloud.com/issues/297

@jospoortvliet @Espina2

[2017-01-30 21:01] Espina2 commented on #382
@sandydo
Did you recheck this with clean cache? What browser and you are using and OS?

[2017-01-30 21:02] Espina2 commented on #382
Please post a print screen of the issue to.

[2017-01-30 21:20] sandydo commented on #382
Ok, a bit more detail:

The Problem occurs with Chrome, Firefox and Safari on Mac OS!

For you to reconstruct it:
- Go to  https://nextcloud.com/about/
- Scroll a minimal amount the part with the main information.
- Watch how the "About" jumps behind the menu bar.

I added two pictures. One with the loaded page just without any movement and the other when scrolling just a bit (one pixel of scrolli

[2017-01-30 21:48] Espina2 commented on #382
I already figure it out. Thanks for the all the details, I will fix this.

[2017-01-31 13:43] Espina2 commented on #345
@jancborchardt
I made the buttons to show in mobile. You can take a look at the live version.

[2017-01-31 13:43] #345 closed

[2017-01-31 13:44] Espina2 commented on #339
This are done to.

[2017-01-31 13:44] #339 closed

[2017-01-31 13:45] Espina2 commented on #317
@MariusBluem
Can I close this one?

[2017-01-31 13:46] Espina2 commented on #356
@jancborchardt
I think this is fixed. Can you test and if everything is okay close the issue.

[2017-01-31 15:09] MariusBluem commented on #317
Let's do ... the links are enough 😁

[2017-01-31 15:09] #317 closed

[2017-01-31 18:39] jancborchardt commented on #356
The original issue is fixed, but when you scroll the show/hide of the navigation still causes a horizontal scrollbar for some reason. :confused:

[2017-02-01 14:40] Espina2 commented on #356
Nothing happens here. Can you track the issue? 👍

[2017-02-01 21:45] jancborchardt commented on #382
Yeah, this is especially easy to see on the pages of Providers or News. The header reappears very janky and turns white, then blue.

@Espina2 @nextcloud/designers we should always keep the header blue. The switch to white is just weird and I just had a friend who used the site mention it to me again as if it was a bug.

[2017-02-01 21:48] jancborchardt commented on #343
Just reproduced today independently on an iPhone with Safari, as well as on Ubuntu with Firefox and Chrome.

[2017-02-02 09:27] raimund-schluessler opened #386 "No logo visible with current Firefox ESR"
The logo of the Nextcloud website is not visible using the current Firefox ESR 45.7.0. This happens because Firefox only knows about ```background-position-x``` since version 49.0, see https://developer.mozilla.org/de/docs/Web/CSS/background-position-x.

Fix would be to replace
[code]
with
[code]

Firefox ESR will not support this property until March or April, so it would be nice to fix this.
htt

[2017-02-02 10:45] Espina2 commented on #382
@jancborchardt the default header is transparent, we make it to work like this for the old legacy pages. When we migrate to the new language this it will not happen.The legacy pages share the main.js file so this is are happening.

I already migrate a lot of them so its a matter of time until this are fixed in the whole website.

[2017-02-02 10:48] Espina2 commented on #343
This are fixed here: https://github.com/nextcloud/nextcloud.com/tree/menu-mobile
Just not merged yet

[2017-02-03 22:12] MariusBluem opened #389 "Header Issues with Safari"
![bildschirmfoto 2017-02-03 um 23 00 04](https://cloud.githubusercontent.com/assets/19711361/22610235/c46fb3d6-ea64-11e6-85fa-11f780c3db72.png)

![bildschirmfoto 2017-02-03 um 22 59 58](https://cloud.githubusercontent.com/assets/19711361/22610238/c9d19272-ea64-11e6-94fc-fa817cbc43ea.png)

...seems to be a Safari-issue 🤔
@Espina2

[2017-02-04 13:12] Espina2 commented on #389
Just happens in safari?

[2017-02-04 19:04] MariusBluem commented on #389
Jup ... also Header Issue not fixed for Safari 😞

[2017-02-05 10:53] MariusBluem opened #391 "Footer License"
Currently **MIT** shown in footer 🤔 Since 4efae6ea215ddffb52a9cfb48674ac1aead404a9 we use AGPLv3 ... so we should adjust the footer 😉

The question is whether we want to show: AGPLv3 - (c) 2017 Nextcloud or simply (c) 2017 Nextcloud.

What do you think @jospoortvliet

[2017-02-05 11:25] MariusBluem commented on #389
Also on mobile ... the menu is not longer visible for Safari 😢

[2017-02-06 09:48] Espina2 commented on #389
No problens here. Tested in safari 10.0.3 . Can you please try first a hard reset, or open a private tab and see if the error persist?

[2017-02-06 13:11] MariusBluem commented on #389
Okay ... Just resetted my browser, still having the following issues:

- [ ] Menu placed wrong: Happens sometimes (seems to be Safari-only)

![bildschirmfoto 2017-02-06 um 14 03 34](https://cloud.githubusercontent.com/assets/19711361/22648152/8a015426-ec75-11e6-9392-1c9df05e6b6e.png)

- [ ] Fonts are too small in mobile-menu (Tested with Safari, IDK for other browsers)

![bildschirmfoto 2017-02-06

[2017-02-06 14:52] MariusBluem opened #395 "Requirements for Provider Page"
I dont want to discuss who is a provider - and who not 😁 I just want to create and consider about a list of requirements for the descriptions, pictures and presentations for the providers, to hold the quality of the page 😉

### Trademark stuff

- **Spell Nextcloud** the correct way (not NextCloud, nextCloud or even nextcloud)
- Description should not contain any **other trademarks** like another c

[2017-02-06 14:53] MariusBluem commented on #395
cc @karlitschek

[2017-02-06 20:47] karlitschek commented on #395
sounds all reasonable. what donyou think @jospoortvliet ?

[2017-02-07 10:59] Espina2 commented on #389
Its difficult to track the bugs with the safari since most all that you point I don't have it in mine.

![screen shot 2017-02-07 at 10 54 38](https://cloud.githubusercontent.com/assets/11150206/22688362/dd783788-ed23-11e6-83e1-a71201ee260c.png)

The fonts of menu are ok to me.

![screen shot 2017-02-07 at 10 55 39](https://cloud.githubusercontent.com/assets/11150206/22688387/fe8c892e-ed23-11e6-9b8

[2017-02-07 11:04] Espina2 commented on #389
In mobile I have the same error than you, but I can figure yet what is the problem
![screen shot 2017-02-07 at 11 04 02](https://cloud.githubusercontent.com/assets/11150206/22688673/30261b34-ed25-11e6-956b-698ff6fef713.png)

[2017-02-07 18:17] schiessle opened #396 "Outlook page - partially not readable"
See:

![outlook](https://cloud.githubusercontent.com/assets/1589737/22704983/010f6252-ed6a-11e6-8db8-7303d7c302e4.png)

Complete text should be:
"Pricing for the Nextcloud Secure Sharing Outlook Add-in starts at USD 5 per user per year with discounts for larger user numbers. It is currently only available as part of a Nextcloud Support Subscription."

But the part which is a link has almost the sa

[2017-02-07 18:33] MariusBluem commented on #396
Reproducable with Sarari, Firefox and Chromium 😉

[2017-02-07 19:21] felicianotech opened #397 "Why WordPress vs Statically Generated Website?"
I am curious if anyone from the team has considered running NextCloud.com as a statically generated website? Coming here to contribute, I was surprised to see that it's a WordPress site.

Argument for statically generated: https://www.sitepoint.com/7-reasons-use-static-site-generator/

Best (IMO) to use: [Hugo](http://gohugo.io/) or [Jekyll](https://jekyllrb.com/).

Of course, switching over would

[2017-02-09 08:24] Espina2 commented on #386
@raimund-schluessler
This is still not visible?

[2017-02-09 08:46] raimund-schluessler commented on #386
No, it is not visible, see attached screenshot.

<img width="1280" alt="nextcloudwebsitescreenshot" src="https://cloud.githubusercontent.com/assets/2496460/22775530/67737c66-eeac-11e6-8f0e-31798069f92e.png">

The reason is that Firefox ESR 45.7.0. does not support the property ```background-position-x```.

[2017-02-13 22:33] LukasReschke commented on #397
The Why: "Because it was started that way and nobody of us had time to migrate away from it" 😉

[2017-02-14 15:22] jancborchardt commented on #386
@raimund-schluessler do you want to submit a pull request? :)

[2017-02-14 15:52] Espina2 commented on #386
Its good to use this https://github.com/rafaelp/css_browser_selector for fix this type of thing.
I didn´t have the time for doing this at the moment, but its very nice if @raimund-schluessler can do it. :)

[2017-02-14 16:15] jancborchardt opened #401 "Increase clickable area of header popover menu entries"
Currently only the text area is clickable. It should expand to more height (no space between the links) and all the way to left and right.

cc @nextcloud/website @nextcloud/designers

[2017-02-14 16:29] jancborchardt opened #402 "Title tag of collaboraonline and outlook pages"
It's lowercase and all … should be »Collabora Online« and »Outlook Integration«.

[2017-02-14 21:44] jacboy commented on #389
Sorry for close and re open of the issue, was a mistake by mobile.

When I visit the enterprise page on my iPhone it also seems to be a little bit too tight for the new type of menu. I can't attach a screenshot here because I obly got my iPhone for now, but take a look at this.

http://i.imgur.com/RY8svpD.jpg

[2017-02-15 09:47] jancborchardt commented on #343
@Espina2 @jospoortvliet can we merge that then? The site is broken on mobile which is not acceptable.

[2017-02-15 09:48] jancborchardt commented on #348
@Espina2 can you at least remove the animation on logo hover as a first step?

[2017-02-15 09:48] Espina2 commented on #343
this is already merged.

[2017-02-15 09:54] Espina2 commented on #343
@jancborchardt What is broken in mobile? I didn't see anything.

[2017-02-15 09:55] jancborchardt opened #404 "Separate Nextcloud News and community blogs"
Currently when you go to "Blog" you get to the planet and are overwhelmed by community posts which tend to be not that relevant.

We should have two entries in the navigation dropdown:
- Articles (only having news from Nextcloud)
- Community (the current planet)

Cc @nextcloud/website

[2017-02-15 19:16] MariusBluem commented on #404
What about showing Nextcloud News there where the current Planet is - and the community content as a sidebar with the headlines, profile-picture and a link to their external blog 🤔

[2017-02-16 19:09] herbert56 opened #407 "Internal Server Error by Installation"
Hi guys.
I get this error after the admin register site:
`Interner Serverfehler
Der Server hat einen internen Fehler und konnte Ihre Anfrage nicht vervollständigen.
Bitte wenden Sie sich an den Serveradministrator, wenn dieser Fehler mehrfach auftritt, geben Sie bitte die, unten stehenden, technischen Details in Ihrem Bericht mit an.
Weitere Details können im Serverprotokoll gefunden werden.`

`Te

[2017-02-19 11:07] Espina2 commented on #407
Do you have WordPress installed?

[2017-02-19 11:08] Espina2 commented on #404
I think we should move the blog and the news to the ghost platform https://ghost.org/

[2017-02-21 07:15] MariusBluem commented on #391
ping @jospoortvliet

[2017-02-21 07:19] MariusBluem commented on #397
I think this would require really a lot of work and is out of scope for now. Closing.

[2017-02-21 07:19] #397 closed

[2017-02-22 13:34] jancborchardt commented on #404
@MariusBluem yes, good call! :) What do you think @jospoortvliet?

@Espina2 this is an entirely different topic? (Also, why should we move if we already have it here integrated with Wordpress?)

[2017-02-22 13:37] jancborchardt opened #414 "Text color is too bright, insufficient contrast"
The new lighter grey text color is very difficult to read. Wasn’t it darker before?

Currently it’s `rgb(156, 156, 156)`. Can we use the same color as used elsewhere `rgb(85, 85, 85)`? It looks much nicer and readable.

cc @Espina2 @nextcloud/designers @nextcloud/website

[2017-02-22 16:16] Espina2 commented on #414
Yes, it is darker but it doesn't have enough contrast. What I suggest is to make it lighter and increase the black in the grey. I will do that.

[2017-02-22 16:18] jancborchardt opened #415 "Content initially shown directly, then flashed away, then faded in again"
This happens on every page and looks strange:
https://cloud.jancborchardt.net/s/ILN4zJnH8upREwV

cc @Espina2 @nextcloud/website @nextcloud/designers

[2017-02-22 21:29] Espina2 commented on #415
Its probable due to the original state of the document doesn't have opacity 0 so when it load the javascript file it adds animate from opacity 0 to 1. I will check this when I have free time.

[2017-02-22 21:35] Espina2 commented on #404
Because we have problems for example with the RSS feed. It is not well integrated and that is the principal reason that I think we should move.

[2017-02-23 08:47] jospoortvliet commented on #415
It still happens on the Enterprise page somehow.

[2017-02-23 08:49] #414 closed

[2017-02-23 15:15] jancborchardt opened #418 "Lists in job posting descriptions miss bullet points"
On https://nextcloud.com/jobs/ in the job posting descriptions, the lists should have bullet points. :)

@nextcloud/website

[2017-02-23 21:33] #415 closed

[2017-02-24 17:43] jospoortvliet commented on #418
Note that bullet points were deleted from all lists by default on request of @Espina2

Of course, if it makes sense on some pages, we should add it.

[2017-02-24 17:44] jospoortvliet commented on #407
I think this isn't a question about the website, is it? But a Nextcloud report? I suggest you ask on the forums at https://help.nextcloud.com

[2017-02-24 17:44] #407 closed

[2017-02-24 17:45] jospoortvliet commented on #404
I can't say exactly what direction we should take technically, I can only tell you I have no clue whatsoever how to make the change Jan/Marius proposed. And yes, I agree with @MariusBluem - that would be great. But how???

[2017-02-24 17:48] jospoortvliet commented on #402
Done!

[2017-02-24 17:48] #402 closed

[2017-02-24 17:51] jospoortvliet commented on #396
Fixed!

[2017-02-24 17:51] #396 closed

[2017-02-24 17:52] jospoortvliet commented on #395
Yeah, agreed. We should add these to the apply page. Willing to do that, @MariusBluem ??

[2017-02-24 17:53] #391 closed

[2017-02-24 18:07] jospoortvliet commented on #389
The menu should be hidden on small screens but that doesn't seem to work. Sadly, this is handled in Javascript so I can't figure out how/what/where. @Espina2 can you have a look?

[2017-02-24 18:14] jospoortvliet commented on #389
I did fix the issue with the image being too light so text doesn't show on it.

[2017-02-24 18:24] MariusBluem commented on #395
Will be done soon ... I am going to contact you about the providers not fulfill to the requirements.

[2017-02-24 18:27] MariusBluem commented on #404
First step could be to create a 2nd Blog roll and remove every Collaborator excecpt "Nextcloud" from the First, and do all Community collaborators in the 2nd 😁😅

[2017-02-24 18:45] Espina2 commented on #389
If I can understand what is the problem maybe I can fix it. :p

[2017-02-24 18:48] Espina2 commented on #418
If you can remove the indent for me it's okay.

[2017-02-25 10:51] pierreozoux commented on #50
It is true that it is a bit strange.
We said that we serve worldwide but our servers are in Germany.
Actually if a client requests us to serve from there country, if they pay, we would operate it.
(We had a project to ship RasPi in Africa, and serve from there also, but never got through).

I decided to say yes as a provider because we can speak english, and serve close to your place on request.

[2017-02-25 11:17] pierreozoux opened #419 "More metadata about providers"
If we want to rank providers as discussed in https://github.com/nextcloud/android/issues/53, we need to gather more metadata about said providers.

Here is a proposed list:
- [x] language
- [x] description
- [x] logo
- [ ] beginning operation date
- [ ] timezone support - opening hours
- [ ] price
- [ ] free software only
- [ ] is a Chatons
- [ ] charts ( https://userdatamanifesto.org/ )
- [ ] upt

[2017-02-25 12:41] MariusBluem commented on #419
We will start with some requirements for the providers page in the coming days: https://github.com/nextcloud/nextcloud.com/issues/395

your points seem to be very complicated to prove and to monitor ... in some cases 😞

I don't want to have pricing stuff on Nextcloud page, this is why pricing stuff will be not longer allowed in the provider-descriptions (see requirements mentioned above). Otherwis

[2017-02-25 14:08] jospoortvliet commented on #419
Agreed with Marius - but the other points are useful. This really is complicated. There have been some heavy complaints about some providers which, at the same time, are getting a lot of positive feedback. An example is ownCube, where some ppl tell me "remove them from the provider page, they are bad" and then others love what they do and they provide an amazingly popular product with some cool ne

[2017-03-10 16:47] zburns opened #425 "Upgrading from 11.0.1 to 11.0.2"
The upgrade from 11.0.1 to 11.0.2 went successfully.

All the apps (except files, calendar, etc) went back to "disabled" and I had to re-enable them.

Also theme got turned off and I had to re-enable that one also.

Is the correct behavior?

[2017-03-10 16:48] zburns commented on #425
Ooops - wrong repo.

[2017-03-10 16:48] #425 closed

[2017-03-12 14:19] jospoortvliet opened #426 "add app image download option"
Add the appimage to download page, see
https://twitter.com/probonopd/status/840270164792872961

[2017-03-12 15:29] probonopd commented on #426
As pointed out in https://github.com/nextcloud/client_theming/issues/61:

Right now an [AppImage](http://appimage.org/) for Linux is produced for each commit on Travis CI and can be downloaded from a temporary transfer.sh URL that is visible toward the end of each [Travis CI build log](https://travis-ci.org/nextcloud/client_theming/). Few people will ever find it there.

Hence, build an AppImage f

[2017-03-12 15:35] probonopd commented on #426
Edited the above ^^^

[2017-03-14 09:14] raimund-schluessler commented on #386
I guess this is more or less obsolete now. With current Firefox ESR 52.0 the website is shown correctly now.

[2017-03-14 09:14] #386 closed

[2017-03-14 18:39] Prakharsvnit commented on #418
@jospoortvliet @jancborchardt  I think you want bullet points in job openings list:

![screenshot from 2017-03-15 00-03-29](https://cloud.githubusercontent.com/assets/19989448/23916817/6c8f3114-0913-11e7-9eed-0f5298cd0338.png)
Please correct me if i'm wrong.

[2017-03-20 10:23] jospoortvliet commented on #311
@MariusBluem have had any time for this page?

[2017-03-20 16:06] MariusBluem commented on #311
I am on it 😁

[2017-03-21 13:47] Espina2 commented on #418
The points doesn't add nothing to this case. @Prakharsvnit

[2017-03-21 14:02] Prakharsvnit commented on #418
@Espina2 can you specify where  the bullet points are needed on the page specified

[2017-03-21 15:20] Espina2 commented on #418
@Prakharsvnit I said that they are not needed.

[2017-03-21 15:44] Prakharsvnit commented on #418
@Espina2 should we close the issue then?

[2017-03-21 22:44] pieter-groeneweg opened #435 "Multi Tennancy"
Is it possible to setup one instance of nextcloud with multiple tennants?
I know I can setup for multiple domains, but I mean multiple domains with their own theming and isolated user groups? Or would this be a new possible feature?

[2017-03-22 09:57] Espina2 commented on #435
Hi @pieter-groeneweg this repo is about the nextcloud website only. I think you will have better response on https://help.nextcloud.com/.

[2017-03-22 09:57] #435 closed

[2017-03-22 10:43] pieter-groeneweg commented on #435
whoops in wrong thread.... my bad

[2017-03-22 11:14] MariusBluem commented on #366
Seems to be fixed 😉

[2017-03-22 11:14] #366 closed

[2017-03-22 11:15] MariusBluem commented on #368
We have a new demo which should fix such bugs 😜

[2017-03-22 11:15] #368 closed

[2017-03-23 13:22] Bugsbane opened #437 "Grammar errors on public facing NC communications"
Hey everyone. I just read the new blog post at https://nextcloud.com/blog/where-should-healthcare-data-be-stored/

I have to say, the content of this post is good. I also completely understand the steep challenges of creating professional level content in a language which isn't native to the writer. That said, I'm frequently surprised at the basic English grammar mistakes in Nextcloud blog posts g

[2017-03-23 14:57] jospoortvliet commented on #437
Hi Bugsbane,

Thanks, you're right, we could do a better job at getting stuff reviewed. I used to post things in the irc channel before promoting, I guess I should re-kindle that effort.

Besides that, your suggestion to install the Grammarly browser extension is a good one and we'll do this.

Thanks!

[2017-03-23 14:57] #437 closed

[2017-03-23 15:06] MariusBluem commented on #437
...and of course, we are happy if you contribute by finding grammar and other language-wise mistakes on our static (non-blog) content too: https://github.com/nextcloud/nextcloud.com ✊ @Bugsbane

[2017-03-24 11:29] jospoortvliet commented on #404
Agreed. But with things handled via Contribook I don't know how to do that :(

[2017-03-26 20:34] jancborchardt commented on #418
It still persists. I should have been more clear to say that it’s in the actual text. This:
![capture du 2017-03-26 21-52-50](https://cloud.githubusercontent.com/assets/925062/24334931/25c20d5a-1274-11e7-946a-40a2ebfe9c31.png)
Should be this:
![capture du 2017-03-26 21-54-02](https://cloud.githubusercontent.com/assets/925062/24334935/2fb93004-1274-11e7-8881-9399ce0ad6db.png)

CSS:
[code]

That als

[2017-03-27 10:11] Espina2 commented on #418
Ah ok. Sound goog to me, but sound good even without the bullets, just with the ident removed.

[2017-04-01 09:01] jospoortvliet opened #440 "https://nextcloud.com/enterprise/ top img is broken on mobile"
![spectacle y29021](https://cloud.githubusercontent.com/assets/551757/24577249/93410778-16ca-11e7-9a3b-05c3fa34935e.png)

[2017-04-03 09:21] jospoortvliet opened #441 "fix box page on 5.5 inch devices"
as the title says.

[2017-04-03 09:55] MariusBluem commented on #441
Have you an example screenshot?

[2017-04-03 16:07] jospoortvliet commented on #441
![screenshot_2016-11-27-22-16-00_com android chrome](https://cloud.githubusercontent.com/assets/551757/24618710/45387e56-1898-11e7-8b96-d5a032ecac1c.png)
![screenshot_2016-12-12-16-32-12_com android chrome](https://cloud.githubusercontent.com/assets/551757/24618712/46ce327e-1898-11e7-94b1-ef7efc5f863b.png)
![screenshot_2016-12-12-16-32-32_com android chrome](https://cloud.githubusercontent.com/ass

[2017-04-03 19:01] Wikinaut opened #442 "https://nextcloud.com/collaboraonline/ typo "seperated""
Where can I find the source code for the page https://nextcloud.com/collaboraonline/ ? There's a typo on it ( s/seperated/separated/ ).

[2017-04-03 19:16] MariusBluem commented on #442
Here: https://github.com/nextcloud/nextcloud.com/blob/master/page-collaboraonline.php

[2017-04-03 19:49] Wikinaut commented on #442
fixed in https://github.com/nextcloud/nextcloud.com/commit/40542ef6d4e9539f288104eb8bbed88fb49c0459

[2017-04-03 19:49] #442 closed

[2017-04-05 15:14] jancborchardt opened #446 "Blue background/whitespace around screenshots on storage page"
Check https://nextcloud.com/storage/

There’s the light blue background / whitespace around the screenshots. It’s rather strange as it pulls away attention from the actual screenshot, and makes it smaller.

Better would be to use the whole space that the colored part occupies to increase the size of the small screenshot. And remove the color altogether.

cc @jospoortvliet @Espina2 @vaneslie

[2017-04-06 08:21] vaneslie commented on #446
Mhm, I actually kind of like the background color. It has already been used everywhere (for example: https://nextcloud.com/features/) and would really look boring without any kind of color. There's so much white space already on the pages and the screenshots are white as well. Just my two cents :)

[2017-04-07 22:02] hmmmph opened #448 "Error : PHP fopen failed to open stream: No such file or directory"
Whenever I upload any file (doesn't matter what type) then go to `Activity` the filetype icon is missing (broken).

![screen shot 2017-04-07 at 2 43 13 pm](https://cloud.githubusercontent.com/assets/10713549/24821357/ff212a90-1ba2-11e7-8525-82f6582f30b4.png)

The logs state the following:

[code]

data directory is:
[code]
nextcloud root is:
[code]
The icons are definitely in:
[code]

My logs get

[2017-04-13 09:31] jospoortvliet commented on #448
Hi @hmmmph

Questions like these should really be asked on the forums: https://help.nextcloud.com ;-)

Plus, this is the repository where we develop our website https://nextcloud.com , not Nextcloud itself.

[2017-04-13 09:31] #448 closed

[2017-04-13 09:33] jospoortvliet commented on #446
I agree with @vaneslie it brings a degree of uniformity to our screenshots. Calling it a bug makes no sense, we introduced this recently and use it on all our new pages.

[2017-04-23 04:18] jancborchardt commented on #446
A big problem is that the arbitrary background makes the images even smaller on mobile:
![tmp_24413-img_20170423_061431-1640806145](https://cloud.githubusercontent.com/assets/925062/25310723/41e32c52-27ec-11e7-95ac-f23f2f5cd480.jpg)
Considering that mobile devices are a big part (if not the most) of internet traffic, we should really male that work.

Besides, the videos are also full-width and don

[2017-04-23 04:19] jancborchardt commented on #446
The above screenshot of course is there to show: It's too small and not really visible, but with simply making the actual content wider, it would be.

[2017-04-24 14:58] jospoortvliet commented on #389
Is this fixed now? Please re-open if not...

[2017-04-24 14:58] #389 closed

[2017-04-25 08:26] purplevegetable opened #456 "Update permissions script?"
Hello, I've noticed that nextcloud complains that it finds the folder "assets" each time I update. I've deleted the folder as there doesn't appear to be anything in it so I imagine it's a redundant folder?

Your permission script found [here](https://docs.nextcloud.com/server/9.0/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions)  re-adds the folder, not reall

[2017-04-27 09:18] jospoortvliet opened #458 "link more prominently to the app store"
Our navigation should link to the app store on apps.nextcloud.com. Where would that fit best?

[2017-04-27 09:26] MariusBluem commented on #458
Wait for that and do this together with https://github.com/nextcloud/appstore/issues/468 😉

@BernhardPosselt @Espina2

[2017-04-27 09:27] #395 closed

[2017-04-27 09:28] MariusBluem commented on #395
Done.

[2017-04-27 09:29] MariusBluem commented on #210
Can we have an update on that @oparoz @jospoortvliet 😉

[2017-04-27 10:01] oparoz commented on #210
Tested in portrait mode
* The landing page is still broken
* The picture is wrong
* There is still way too much whitespace

[2017-05-03 15:40] MariusBluem opened #463 "Safari issues with new homepage"
This is definitely **not**, how it should look like 😅 @jospoortvliet @Espina2

![bildschirmfoto 2017-05-03 um 17 37 19](https://cloud.githubusercontent.com/assets/19711361/25668528/36a630c6-3027-11e7-921e-568e91f416c9.png)

[2017-05-03 17:52] Espina2 commented on #463
Can you please try it on private mode? I have no problens in safari
![screen shot 2017-05-03 at 18 36 11](https://cloud.githubusercontent.com/assets/11150206/25674115/a66bd7f8-3031-11e7-8650-877c7761d347.png)

[2017-05-10 19:10] enoch85 commented on #463
I have the same issues on Chrome (inside a Windows 10 VM)
![nextcloud_com](https://cloud.githubusercontent.com/assets/4511254/25916505/21977fde-35c5-11e7-8e72-566e11a45302.png)

[2017-05-12 05:57] tobiasKaminsky opened #465 "More infos about android privacy"
Ref: https://help.nextcloud.com/t/privacy-is-my-information-harvested/12429

We should say more clearly what the android app is doing on https://nextcloud.com/privacy:
- in general: only communication between device and nextcloud server
- play store version: comm. with google server due to push notification (in 1.5.0)
- fdroid: no google server communication

Google somehow enforces a privacy poli

[2017-05-12 15:02] jospoortvliet commented on #465
fixed in https://github.com/nextcloud/nextcloud.com/commit/b228df32eb4f4ea66879b1c60a9101b9ac5455e9

[2017-05-12 15:02] #465 closed

[2017-05-13 06:51] tobiasKaminsky commented on #465
:+1:  Perfect :-)

[2017-05-14 18:03] Espina2 commented on #463
weird. Can anyone with windows see what is the problem?

[2017-05-18 14:15] raimund-schluessler opened #467 "Clients install page is broken"
The install page for clients https://nextcloud.com/install/#install-clients looks kinda broken to me:
![bildschirmfoto am 2017-05-18 um 17 12 32-fullpage](https://cloud.githubusercontent.com/assets/2496460/26206358/49f7c000-3bed-11e7-8cb6-a2358c5fad9f.png)

I think the popup should look similar to the one for downloading the server (darker background for the rest of the page). Also the layout of t

[2017-05-19 13:29] MariusBluem opened #469 "Secure Drop -> File Drop"
According to https://github.com/nextcloud/server/pull/4943, please update the page, or (I would prefer) merge it with sharing 😉

@jancborchardt @jospoortvliet

[2017-05-20 03:22] a506488043 opened #470 "nextcloud"
Install plug-ins, prompted errors, how to solve this? And upload pictures, prompt file 0KB?
Newly installed. A lot of places don't quite understand。
How do my upload this picture?
[My blog](www.saiita.cn)

[2017-05-20 04:39] MariusBluem commented on #470
This is the repository of the homepage nextcloud.com. Please report your issue in the server-repository over here: https://github.gom/nextcloud/server/issues 🙈

[2017-05-20 04:39] #470 closed

[2017-05-20 04:54] a506488043 commented on #470
Ok,Thank you

[2017-05-22 11:40] jancborchardt commented on #469
@MariusBluem this is a nice starter issue, simply need to change the wording. :)

[2017-05-22 12:29] pludi opened #473 "Download newer than available changelog"
The download already points to the NC12 release, while the [changelog](https://nextcloud.com/changelog/) still lists 11.0.3 as current.

[2017-05-22 12:31] pludi commented on #473
See also nextcloud/server#5032

[2017-05-25 19:27] #311 closed

[2017-05-25 19:27] MariusBluem commented on #311
Done.

[2017-05-28 12:14] jospoortvliet commented on #473
Yeah, sorry - bit overloaded with work. We'll get to this, hopefully this week ;-)

[2017-05-28 12:14] jospoortvliet commented on #469
mostly done now. The video has to be updated, will do when I find time ;-)

[2017-05-28 12:15] jospoortvliet commented on #467
Fixed. Thanks for reporting and sorry it took so long 👎

[2017-05-28 12:15] #467 closed

[2017-06-02 12:49] hajika commented on #473
and https://download.nextcloud.com/server/installer/setup-nextcloud.php still points to NC 11, thats very pity

[2017-06-02 15:39] MariusBluem commented on #473
Will be fixed with 12.0.1 🙈

[2017-06-08 16:03] #401 closed

[2017-06-08 16:47] MariusBluem commented on #469
Main issue is fixed now 😉

[2017-06-08 16:47] #469 closed

[2017-06-10 07:07] #473 closed

[2017-06-10 18:11] patschi opened #488 "Imgs on Outlook page broken"
Two images of the 'Secure File Sharing'-Outlook-AddIn are broken: https://nextcloud.com/outlook/

[2017-06-10 18:20] MariusBluem commented on #488
@jospoortvliet

[2017-06-12 12:55] patschi commented on #488
Got fixed by @jospoortvliet in commit 749d269. Therefore, closing this now.

[2017-06-12 12:55] #488 closed

[2017-06-12 20:50] jospoortvliet opened #490 "The comparison page should be easier to scroll!"
https://twitter.com/Nextclouders/status/874246218649620482

Help welcome as I have not even the beginnings of a clue on how to fix this :(

@Espina2 perhaps you could pitch in?

[2017-06-12 20:50] jospoortvliet commented on #463
Couldn't we turn the background in a png perhaps? Pre-rendered...

[2017-06-12 20:51] jospoortvliet commented on #456
Hi @purplevegetable sorry - this is where we develop our website, not the place for bug reports about Nextcloud!

Also, we no longer recommend to use the permission changes as they provide no real security benefit and block Nextcloud from upgrading. I suggest to not use it.

[2017-06-12 20:51] #456 closed

[2017-06-12 23:16] Espina2 commented on #490
I can take a look in a near future. @jospoortvliet

[2017-06-12 23:18] Espina2 commented on #463
I can take a look on this, but I need more info where this occurs.

[2017-06-13 22:29] ViRPo opened #493 "Description of each job offer is jumping when collapsing"
I noticed, that when you expand or collapse job position at /jobs, for a short while there is bigger gap between job name and job description while it's expanding or collapsing

It can be seen here: http://recordit.co/ibltd5nPBw
Or you can test it yourself: https://nextcloud.com/jobs/

I failed to find the cause of this, so for now I am submitting it as an issue, however it seems to be connected w

[2017-06-14 16:38] Morganlej opened #496 "Migration instruction fools admins to upgrade to incompatible owncloud before migration"
It have happened with earlier versions and now happen again [1]. In short:
Instruction say latest pint releases should be used, so admin upgrades ownCloud 9.1.5 to 9.1.6.
Then he tries to migrate to Nextcloud 10.0.5, which fails with:
"Downgrading is not supported and is likely to cause unpredictable issues (from 9.1.6.2 to 9.1.5.2)" [2]

That is what happens when we follow the instruction. https:

[2017-06-14 16:43] Morganlej opened #497 "Migration script downloads incompatible Nextcloud version"
It should better check compatibility *before* downloading or doing anything else.
Example: Currently ownCloud 9.1.6 is latest point release, and corresponding Nextcloud (10.0.6) do not exist yet.
Real world example: https://help.nextcloud.com/t/migration-from-owncloud-9-1-6-to-nextcloud-10-0-5-fails/13523

[2017-06-14 17:16] linucksrox commented on #496
My first thought would be channging this

To this

Or something along those lines, so that when new ownCloud versions are released, the documentation technically doesn't address them yet, prompting administrators to do more investigation first.

[2017-06-14 17:56] linucksrox commented on #497
I think this belongs in the nextcloud/server repository. I also think the file that performs this check is located at /server/lib/private/Updater.php on lines 205-222.
https://github.com/nextcloud/server/blob/b4f36d44c43aac0efdc6c70ff8e46473341a9bfe/lib/private/Updater.php#L205-L222

[2017-06-15 10:39] #497 closed

[2017-06-15 12:08] Morganlej commented on #496
The instruction then need also to describe how an admin would go about to find out compatibility for a ownCloud version not included in that definition.

[2017-06-15 13:15] Espina2 commented on #496
This question should be made in the server repo. Going to close the issue.

[2017-06-15 13:15] #496 closed

[2017-06-15 14:21] linucksrox opened #498 "Migration instruction fools admins to upgrade to incompatible owncloud before migration"
@Espina2 I believe #496 should not have been closed as it does not belong in the server repo. This is specifically an issue with the information provided on https://nextcloud.com/migration/
So I'm reopening this issue.

It have happened with earlier versions and now happen again [1]. In short:
Instruction say latest pint releases should be used, so admin upgrades ownCloud 9.1.5 to 9.1.6.
Then he t

[2017-06-15 14:23] linucksrox commented on #498
As I mentioned in #496, this is my recommendation:
My first thought would be channging this

To this

Or something along those lines, so that when new ownCloud versions are released, the documentation technically doesn't address them yet, prompting administrators to do more investigation first.

[2017-06-20 18:59] jospoortvliet opened #502 "when you scroll to a # it might not show anything"
https://nextcloud.com/sharing/#federation gives me a nearly empty page due to the 'appear on scroll' javascript...

[2017-06-20 19:00] jospoortvliet commented on #498
@linucksrox while you're right that that currently breaks, it is due to a bug, not intentional. We could add a temporary warning to our website but the real fix will have to be done in the migration.

[2017-06-20 19:15] Espina2 commented on #502
Its normal to behaviour like that. And there is no problem with that. You should not use the links with anchor part.

[2017-06-20 19:21] linucksrox commented on #498
@jospoortvliet I understand that the actual fix belongs in the server repo, I was only reposting this on behalf of @Morganlej since it was closed and locked.
I also think there's value in being more specific in the documentation, so that when a new version is not explicitly mentioned here in the documentation, it raises the question of whether it will work or not.

Basically if I wanted to migrate

[2017-06-20 19:37] jospoortvliet commented on #498
Done ;-)

[2017-06-20 19:40] linucksrox commented on #498
Awesome, thanks @jospoortvliet! It's a good sign when people only have small things like this to complain about :)

[2017-06-20 19:50] jospoortvliet commented on #498
Details matter, so thanks for your input!

[2017-06-21 07:18] jospoortvliet commented on #502
Well, then, how do I link to a specific section in a page from a blog or the forums or somewhere else if not via this? I have to do that, as I need to point people to the federation part of the sharing page...

[2017-06-21 13:17] Espina2 commented on #502
@jospoortvliet how you point people if the anchors doesn't exist? They are not created with that purpose, but yes for the purpose when you click on a button scroll to that area. So the problem is not directly involved by the "appear" transition. Remenber that this stuff is added for the submenu work...

We can of course fix this is problem with some window position validation, for example

var cur

[2017-06-24 09:04] keunes opened #504 "Introduce page with release info"
A few users (including me) would like some more information about the rolling out of updates in the different channels. I myself am in the 'stable' channel and have not yet received an update notification. In order for people to check and avoid having to have a forum thread with every major update, it would be nice to:

* have a page (say, www.nextcloud.com/update) where updating information is pu

[2017-06-24 10:39] jospoortvliet commented on #502
@Espina2 I don't understand - what do you mean with "if the anchors doesn't exist"? They DO exist, like the example I give... Sometimes there are buttons that go there but not always. I prefer to link directly to a sub section of a page instead of telling people 'go to this page and scroll down'...

[2017-06-24 18:17] Espina2 commented on #502
@jospoortvliet what I am trying to say is when the anchors are introduced in those pages is not for that purpose. Anyway I fix the issue here https://github.com/nextcloud/nextcloud.com/pull/505

[2017-06-24 20:44] Espina2 commented on #463
Can I close this up? @MariusBluem @enoch85

[2017-06-24 20:50] Espina2 commented on #458
This is good question indeed, at least we should show the link on the footer for now? Maybe under resources? @jospoortvliet @MariusBluem

[2017-06-24 21:11] enoch85 commented on #463
@Espina2 Nope, still same issue when I was trying on the same Windows VM.

[2017-06-24 21:14] Espina2 commented on #463
I will install the VM and try see what is causing this.

[2017-06-24 21:16] enoch85 commented on #463
http://i.imgur.com/Vy4beWG.png

[2017-06-24 21:17] MariusBluem commented on #504
We should improve https://nextcloud.com/release-channels for solving that ;)

[2017-06-24 21:17] Espina2 commented on #463
Let me see the chrome version to @enoch85

[2017-06-24 21:20] MariusBluem commented on #458
Maybe with moving something from Resources to Interact, so that every column has the same number of links ;)

[2017-06-24 21:28] enoch85 commented on #463
@Espina2 Ha! I had Chrome 58.something.something but updated to 59 and now it works!

[2017-06-24 23:04] Espina2 commented on #463
@enoch85 this should not be broken in that case to... I'm searching for the problem since it occurs in more browsers.

[2017-06-24 23:05] Espina2 commented on #458
If it makes sense, it's okay for me. :)

[2017-06-25 14:13] Espina2 commented on #463
I test on Windows VM I dont have the problem in any browser. Even internet explorer works.

@MariusBluem can you confirm if it still happens in your browser??

[2017-06-25 14:13] Espina2 commented on #463
Closing this now. If it reappears please reopen.

[2017-06-25 14:13] #463 closed

[2017-06-25 14:14] #502 closed

[2017-06-25 14:16] Espina2 commented on #446
What we should do and makes sense is to having those types of images set to full width on mobile. Its really difficult to us preview the output on mobile, since for we preview the results we first need to deploy on staging.

[2017-06-25 14:17] Espina2 commented on #441
I will take a look at this, since I made the page.

[2017-06-25 14:21] Espina2 commented on #382
Ok this still happens on the old pages. :)

[2017-06-26 14:57] jancborchardt commented on #418
Still not fixed as there are no bullet points. Especialy on mobile it just looks like short paragraphs without a dot at the end.

[2017-06-26 14:59] jancborchardt commented on #446
Mobile can easily be tested using browser tools, or just by making the browser window smaller.

And yeah, of course they should be full width on mobile. That includes:

- Making them 100% width so they are side to side with no whitespace
- Removing the blue around them …
- Focusing on the parts which should be highlighted, be it by cropping the screenshot or zooming the interface

[2017-06-26 17:22] Espina2 commented on #446
Dude, I know i can make the window smaller or use the dev tools but the mobile have some ratio in how it displays the content. What sometimes look big is small. The trick is on your mobile go to the ip adress + port the server are running, but this installation redirects to localhost, that makes this impossible.

Focusing on the parts which should be highlighted, be it by cropping the screenshot o

[2017-06-29 14:12] jospoortvliet commented on #446
We could 'just' zoom them in and hide the overflow (so as not to get scrolling) on mobile so you get a little bit of blue around but not too much. Or is that a truly crazy hack?

[2017-06-29 14:22] jospoortvliet commented on #418
I also don't get what the issues is with bullets, they are everywhere and just fine... But I leave this to you guys. Just please don't pick esthetics over usability - the list as we have it now (or with indentation) is just not as usable as with bullets.

[2017-06-29 14:23] jospoortvliet commented on #441
any progress? It works for me - as said - but not everywhere :(

[2017-06-29 14:36] jospoortvliet commented on #458
done in https://github.com/nextcloud/nextcloud.com/commit/e66846ec58af4513a8e4b4b58707251ac5de4fba but that's not SUPER prominent. It is now in the footer...

I just don't want to add it to the features menu and it makes no sense in the other menus. So this is it.

[2017-06-29 14:36] #458 closed

[2017-06-29 16:19] jancborchardt commented on #418
Exactly why I opened the issue.

As you said above:

Of course lists like the navigation on top and links in the footer don't nee bullets. But lists in body text like blog posts and job posts should have proper bullet style.

[2017-06-29 16:22] jancborchardt commented on #446
@jospoortvliet exactly that is what I'm talking about. Now look at the picture, see that the blue around and on top of it looks stupid, remove it and we're done.

If you want some background somewhere, please only add it via CSS so we can play around with it, but let's not mess up all the screenshots so we have to retake them.

[2017-06-29 21:46] Espina2 commented on #441
It will be hard to see progress in the next two weeks, since I have with a lot of work.

[2017-06-29 21:46] Espina2 commented on #458
@jospoortvliet Nice. ;)

[2017-06-29 21:50] Espina2 commented on #446
I already give my opinion so, leave you with that questions. It doesnt really matter for me

[2017-06-30 13:11] jospoortvliet commented on #446
@jancborchardt pretty much all screenshots have by now been updated to this new style so removing the blue is, again, quite a bit of work. Not impossible of course, and the CSS etc is probably doable and a good idea. Then we can keep the blue background (and modify it when/however we like) on large screens and show images full width on smaller screens.

But I have to defer this to a point in time

[2017-06-30 15:07] jancborchardt commented on #446
Yup, of course. And that "quite a bit of work" is why I recommended to _not_ use the blue from the moment I saw it. It just makes us inflexible.

[2017-07-03 12:06] jospoortvliet opened #506 "make providers page more prominent"
it is now in download -> providers. Maybe put it on the front page?

[2017-07-03 14:19] Espina2 commented on #506
For me providers have the same importance as devices

[2017-07-07 18:15] enoch85 opened #513 "Add link to Github on help.nextcloud.com"
https://help.nextcloud.com/t/welcome-to-the-nextcloud-forums/8

Many users post issues reports on the help forum that really should be on Github instead. Proper tagging and milestones will make it easier for Nextcloud devs to find and fix the issue.

[2017-07-10 20:36] jospoortvliet commented on #513
Actually we prefer to have less technical users discuss on help.nextcloud.com first to see if the issue is already reported. help.nextcloud.com helps find duplicates, unlike github where our devs can't handle hundreds of duplicates manually.

[2017-07-10 20:36] #513 closed

[2017-07-10 20:37] jospoortvliet commented on #504
Yeah, very good idea. @keunes any chance you have a look at the release channels page and perhaps work some variables magic in there?

[2017-07-10 20:39] jospoortvliet commented on #493
Yeah, this probably has to do with conflicting javascript from bootstrap and the custom scripts we have :(

@Espina2 am I right?

[2017-07-10 20:50] keunes commented on #504
Hi @jospoortvliet
I'd be happy to but I'm merely a translator for Nextcloud, and someone using Nextcloud for home-sharing with a wish for more info on the upgrade process 🙂. In other words: my HTML and CSS skills are limited to, lets say, well, they're limited ^^ (let alone PHP variables).

I'm afraid I don't have the time to learn to do the work required, at the moment. So if anyone else would be

[2017-07-11 19:53] Espina2 commented on #493
@jospoortvliet No this is just css.
The problem is on having margins on the paragraphs if you remove it will work just fine.

[2017-07-15 15:41] jospoortvliet commented on #493
Ah, that simple huh. @ViRPo wanna try to fix it?

[2017-07-15 15:45] jospoortvliet commented on #504
Ok, can do. With more thinking I believe the problem will be to keep it up to date: if we do that manually it will go outdated all the time :(

Would be best if we could get the info directly from the updater server somehow. But that'd be way beyond my PHP fu...

[2017-07-15 16:13] jospoortvliet commented on #446
You seemed to object to the aesthetics of it, not the technical side - if you had pointed that out, I could have done this earlier of course.

[2017-07-15 16:45] janvlug commented on #504
Did you know about the existence of this page:
https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule

[2017-07-15 16:46] Espina2 commented on #504
@jospoortvliet if you have an API or a json file with all the info, its not that difficult to do. :)

[2017-07-15 20:43] jancborchardt commented on #446
Well, aesthetics and it also not working well on mobile should be argument enough, no? ;)

[2017-07-15 23:03] jospoortvliet commented on #504
@Espina2 hmmmmmm, we don't have it right now I think, though of course the update server can be queried as that is how the nextcloud servers know if there's a new version ;-) Not sure how complicated it is...

[2017-07-15 23:05] jospoortvliet commented on #446
I'm convinced NOW, no doubt. Last time sadly mobile didn't come up, it was just a 'looks bad' vs 'looks nice' thing I typically don't want to get involved in...

[2017-07-16 09:46] Espina2 commented on #446
I will fix the mobile issue as soon as I can.

[2017-07-16 20:56] jancborchardt commented on #446
@jospoortvliet I said it in April right up there ;) https://github.com/nextcloud/nextcloud.com/issues/446#issuecomment-296418590

[2017-07-21 07:11] splitt3r opened #532 "Error page is broken"
As you can see in the screenshot the error page seems broken. It looks ugly and the footer isn´t showing up.

Example: https://nextcloud.com/feasas

![Error Page](https://user-images.githubusercontent.com/1869584/28452772-80a36d1e-6df4-11e7-9df7-38eb5dfd05e1.png)

[2017-07-21 07:13] splitt3r commented on #532
And this https://github.com/nextcloud/nextcloud.com/blob/master/assets/files/request_form.pdf file is still owncloud branded.

[2017-07-23 17:17] MariusBluem commented on #532
Even if this issue is not related (and should be posted in another issue) is this nothing we need to worry about, since this file is not in use 😉 ... Maybe we can delete it? @jospoortvliet

...do you want to jump in creating a nicer 404-page? 😊 @Espina2

[2017-07-23 17:19] MariusBluem commented on #440
I can not longer reproduce this issue ... maybe it was fixed some commits ago? 🤔 Please reopen, if this is still the current behavior 😉 @jospoortvliet

[2017-07-23 17:19] #440 closed

[2017-07-23 17:21] MariusBluem commented on #426
Makes a lot of sense ... lets wait until the new install page is ready (#434) - otherwise we will do this twice 😅🙈

[2017-07-23 23:00] Espina2 commented on #532
@MariusBluem
We should do both things. :)

[2017-07-23 23:02] Espina2 commented on #490
@MariusBluem don't assign to me. I tried to look at this code, but I don't want to lost my time on this task.

[2017-07-23 23:07] MariusBluem commented on #490
Sorry .. just wanted to organize our issues here a bit 🙈 Saw that you have said, you will have a look into that in the near future - sooooo.... 🙈😅😇

[2017-07-24 09:27] Espina2 commented on #490
No problem. :)

[2017-07-28 07:37] JMCA2 opened #535 "Security Scan not working"
From: https://help.nextcloud.com/t/nextcloud-security-scan-scan-failed/18579

[2017-07-28 17:25] kaini opened #536 "download.nextcloud.com certificate just expired"

[2017-07-31 17:28] jospoortvliet commented on #535
At the moment the scanner is down - the website works but the actual scans don’t happen. They will come back up - time is needed ￼

https://help.nextcloud.com/t/nextcloud-security-scan-scan-failed/18579/9?u=jospoortvliet

[2017-07-31 17:28] #535 closed

[2017-08-02 15:23] jospoortvliet commented on #532
Yeah, just delete the file.

[2017-08-04 16:46] jlfranklin opened #539 "Cert on nextcloud.org has expired"
The SSL Certificate on www.nextcloud.org expired June 17.  Make sure certbot is keeping it up to date.

[2017-08-04 16:47] MariusBluem commented on #539
@LukasReschke

[2017-08-04 16:49] jlfranklin opened #540 "nextcloud.org does not resolve"
www.nextcloud.org redirects to nextcloud.org, but there is no DNS entry for nextcloud.org.

[code]

[2017-08-04 16:50] MariusBluem commented on #540
@LukasReschke

[2017-08-04 17:04] LukasReschke commented on #536
This has already been fixed.

[2017-08-04 17:04] #536 closed

[2017-08-06 20:24] #539 closed

[2017-08-06 20:24] jospoortvliet commented on #539
fixed... Took 2 hours but lots of ppl noticed ;-)

A cron job that should've renewed the certificates failed.

[2017-08-06 20:25] jospoortvliet commented on #540
Yeah, there's no site, no page, nothing there. Some day ;-)

[2017-08-06 20:25] #540 closed

[2017-08-06 20:26] jlfranklin commented on #540
It could simply redirect to nextcloud.com.

[2017-08-08 08:44] enoch85 opened #547 "Find out why and how you should upgrade to Nextcloud 11 to keep your data secure."
On https://scan.nextcloud.com.

cc @MorrisJobke @jospoortvliet

[2017-08-08 08:50] enoch85 commented on #547
Didn't find the correct page in this repo, so couldn't fix it. :/

[2017-08-08 08:51] MorrisJobke commented on #547
Do it via the build-in updater: https://docs.nextcloud.com/server/12/admin_manual/maintenance/update.html

[2017-08-08 09:45] enoch85 commented on #547
This is an error on the page, not my server. ;)Best regardsDaniel HanssonTech and MeSent from mobile, sorry for typos.Den 8 aug. 2017 10:51 fm skrev Morris Jobke <notifications@github.com>:Do it via the build-in updater: https://docs.nextcloud.com/server/12/admin_manual/maintenance/update.html

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub,

[2017-08-08 11:52] MorrisJobke commented on #547
I will update that page.

[2017-08-09 08:37] cmroanirgo commented on #535
Perhaps a message stating that the scanner is inactive might be helpful... ? I'm here because of exactly the same problem.

[2017-08-09 18:01] jospoortvliet commented on #535
Yeah, it was meant to be up again but we're kind'a fighting a provider who's blocking or something like that, I dunno the details. @LukasReschke

[2017-08-09 18:02] #547 closed

[2017-08-10 08:44] dvdbot opened #551 "Version of latest Windows Desktop client not right"
Like the title says, the version of the latest Windows Desktop client isn't right, both the website and downloaded file say (at least it did) "Latest stable version: 2.3.1" but the latest stable is 2.3.2
I had a notification I should update tot 2.3.2 but when going to download the site says it's 2.3.1

[2017-08-14 19:19] jancborchardt opened #553 "Website performance, delay loading javascript"
Currently the site takes very long to load. Even on wifi this is especially noticeable on mobile. One big reason is the huge amount of Javascript libraries.

We should improve here. One thing could be to load the Javascript libraries in the footer only so it doesn’t block content loading.

cc @nextcloud/javascript @nextcloud/website